# Feature Engineering en SQL

A continuación, veremos cómo calcular diferentes variables para el feature engineering utilizando SQL.

%pip install duckdb
%pip install jupysql
%pip install duckdb-engine

In [1]:
import duckdb
import pandas as pd
import sqlite3
from sqlalchemy import create_engine

%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb:///../../../buckets/b1/db/dmeyf.db

In [2]:
base_path = '/home/fedepicado/'
modelos_path = base_path + 'buckets/b1/modelos/'
db_path = base_path + 'buckets/b1/db/'
dataset_path = base_path + 'buckets/b1/datasets/'
exp_path = base_path + 'buckets/b1/exp/'
dataset_file = 'competencia_03_DQ_agrupacion_var.parquet'
full_path = dataset_path + dataset_file

In [3]:
%%sql
ROLLBACK;

Empty DataFrame
Columns: [Success]
Index: []

In [4]:
%%sql
create or replace table competencia_03_DQ_agrupacion_var as
select
    *
from read_parquet('../../../buckets/b1/datasets/competencia_03_DQ_agrupacion_var.parquet')

Empty DataFrame
Columns: [Success]
Index: []

In [5]:
df=pd.read_parquet(full_path)

In [6]:
df.shape

(4901237, 126)

In [5]:
var_monetarias= ["mrentabilidad","mrentabilidad_annual","mcomisiones","mactivos_margen","mpasivos_margen","mcuenta_corriente",
               "mcaja_ahorro","mcaja_ahorro_adicional","mcaja_ahorro_dolares","mcuentas_saldo","mautoservicio","mprestamos_prendarios",
                 "mprestamos_hipotecarios","mplazo_fijo_dolares",
               "mplazo_fijo_pesos","minversion1_pesos","minversion1_dolares","minversion2","mpayroll","mpayroll2","mcuenta_debitos_automaticos",
               "mttarjeta_visa_debitos_automaticos","mttarjeta_master_debitos_automaticos","mpagomiscuentas","mcajeros_propios_descuentos",
               "mtarjeta_visa_descuentos","mtarjeta_master_descuentos","mcomisiones_mantenimiento","mcomisiones_otras","mforex_buy",
               "mtransferencias_recibidas","mtransferencias_emitidas","mextraccion_autoservicio","mcheques_depositados","mcheques_emitidos",
               "mcheques_depositados_rechazados","mcheques_emitidos_rechazados","matm","matm_other","mfinanciacion_limite_total", 
                "msaldototal_total", "msaldopesos_total","msaldodolares_total", "mconsumospesos_total",
                "mconsumosdolares_total", "mlimitecompra_total", "madelantopesos_total", "madelantodolares_total", 
                "mpagado_total", "mpagospesos_total", "mpagosdolares_total", "mconsumototal_total", 
                "mpagominimo_total", "mtarjetas_consumo"]

## Lag delta r_diff

In [9]:
lags_campos = []

for campo in var_monetarias:
    lags_campos.append(f", LAG({campo}, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_{campo}")
    lags_campos.append(f", LAG({campo}, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_{campo}")

lags_campos_str = "\n".join(lags_campos)

consulta_sql = f"""
CREATE OR REPLACE TABLE compe_3_lags AS
    SELECT
        numero_de_cliente
        ,foto_mes
        {lags_campos_str}
    FROM competencia_03_DQ_agrupacion_var
"""
print(consulta_sql)

CREATE OR REPLACE TABLE compe_3_lags AS
    SELECT
        numero_de_cliente
        ,foto_mes
        , LAG(mrentabilidad, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mrentabilidad
, LAG(mrentabilidad, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mrentabilidad
, LAG(mrentabilidad_annual, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mrentabilidad_annual
, LAG(mrentabilidad_annual, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mrentabilidad_annual
, LAG(mcomisiones, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcomisiones
, LAG(mcomisiones, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcomisiones
, LAG(mactivos_margen, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mactivos_margen
, LAG(mactivos_margen, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mactivos_margen
, LAG(mpasivos_margen, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mpasivos_margen
, LAG(mpasivos_margen, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mpasivos_margen
, LAG(mcuenta_corriente, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcuenta_corriente
, LAG(mcuenta_corriente, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcuenta_corriente
, LAG(mcaja_ahorro, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcaja_ahorro
, LAG(mcaja_ahorro, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcaja_ahorro
, LAG(mcaja_ahorro_adicional, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcaja_ahorro_adicional
, LAG(mcaja_ahorro_adicional, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcaja_ahorro_adicional
, LAG(mcaja_ahorro_dolares, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcaja_ahorro_dolares
, LAG(mcaja_ahorro_dolares, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcaja_ahorro_dolares
, LAG(mcuentas_saldo, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcuentas_saldo
, LAG(mcuentas_saldo, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcuentas_saldo
, LAG(mautoservicio, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mautoservicio
, LAG(mautoservicio, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mautoservicio
, LAG(mprestamos_prendarios, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mprestamos_prendarios
, LAG(mprestamos_prendarios, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mprestamos_prendarios
, LAG(mprestamos_hipotecarios, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mprestamos_hipotecarios
, LAG(mprestamos_hipotecarios, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mprestamos_hipotecarios
, LAG(mplazo_fijo_dolares, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mplazo_fijo_dolares
, LAG(mplazo_fijo_dolares, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mplazo_fijo_dolares
, LAG(mplazo_fijo_pesos, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mplazo_fijo_pesos
, LAG(mplazo_fijo_pesos, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mplazo_fijo_pesos
, LAG(minversion1_pesos, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_minversion1_pesos
, LAG(minversion1_pesos, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_minversion1_pesos
, LAG(minversion1_dolares, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_minversion1_dolares
, LAG(minversion1_dolares, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_minversion1_dolares
, LAG(minversion2, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_minversion2
, LAG(minversion2, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_minversion2
, LAG(mpayroll, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mpayroll
, LAG(mpayroll, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mpayroll
, LAG(mpayroll2, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mpayroll2
, LAG(mpayroll2, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mpayroll2
, LAG(mcuenta_debitos_automaticos, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcuenta_debitos_automaticos
, LAG(mcuenta_debitos_automaticos, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcuenta_debitos_automaticos
, LAG(mttarjeta_visa_debitos_automaticos, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mttarjeta_visa_debitos_automaticos
, LAG(mttarjeta_visa_debitos_automaticos, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mttarjeta_visa_debitos_automaticos
, LAG(mttarjeta_master_debitos_automaticos, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mttarjeta_master_debitos_automaticos
, LAG(mttarjeta_master_debitos_automaticos, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mttarjeta_master_debitos_automaticos
, LAG(mpagomiscuentas, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mpagomiscuentas
, LAG(mpagomiscuentas, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mpagomiscuentas
, LAG(mcajeros_propios_descuentos, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcajeros_propios_descuentos
, LAG(mcajeros_propios_descuentos, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcajeros_propios_descuentos
, LAG(mtarjeta_visa_descuentos, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mtarjeta_visa_descuentos
, LAG(mtarjeta_visa_descuentos, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mtarjeta_visa_descuentos
, LAG(mtarjeta_master_descuentos, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mtarjeta_master_descuentos
, LAG(mtarjeta_master_descuentos, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mtarjeta_master_descuentos
, LAG(mcomisiones_mantenimiento, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcomisiones_mantenimiento
, LAG(mcomisiones_mantenimiento, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcomisiones_mantenimiento
, LAG(mcomisiones_otras, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcomisiones_otras
, LAG(mcomisiones_otras, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcomisiones_otras
, LAG(mforex_buy, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mforex_buy
, LAG(mforex_buy, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mforex_buy
, LAG(mtransferencias_recibidas, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mtransferencias_recibidas
, LAG(mtransferencias_recibidas, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mtransferencias_recibidas
, LAG(mtransferencias_emitidas, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mtransferencias_emitidas
, LAG(mtransferencias_emitidas, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mtransferencias_emitidas
, LAG(mextraccion_autoservicio, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mextraccion_autoservicio
, LAG(mextraccion_autoservicio, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mextraccion_autoservicio
, LAG(mcheques_depositados, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcheques_depositados
, LAG(mcheques_depositados, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcheques_depositados
, LAG(mcheques_emitidos, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcheques_emitidos
, LAG(mcheques_emitidos, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcheques_emitidos
, LAG(mcheques_depositados_rechazados, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcheques_depositados_rechazados
, LAG(mcheques_depositados_rechazados, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcheques_depositados_rechazados
, LAG(mcheques_emitidos_rechazados, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcheques_emitidos_rechazados
, LAG(mcheques_emitidos_rechazados, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcheques_emitidos_rechazados
, LAG(matm, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_matm
, LAG(matm, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_matm
, LAG(matm_other, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_matm_other
, LAG(matm_other, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_matm_other
, LAG(mfinanciacion_limite_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mfinanciacion_limite_total
, LAG(mfinanciacion_limite_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mfinanciacion_limite_total
, LAG(msaldototal_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_msaldototal_total
, LAG(msaldototal_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_msaldototal_total
, LAG(msaldopesos_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_msaldopesos_total
, LAG(msaldopesos_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_msaldopesos_total
, LAG(msaldodolares_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_msaldodolares_total
, LAG(msaldodolares_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_msaldodolares_total
, LAG(mconsumospesos_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mconsumospesos_total
, LAG(mconsumospesos_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mconsumospesos_total
, LAG(mconsumosdolares_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mconsumosdolares_total
, LAG(mconsumosdolares_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mconsumosdolares_total
, LAG(mlimitecompra_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mlimitecompra_total
, LAG(mlimitecompra_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mlimitecompra_total
, LAG(madelantopesos_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_madelantopesos_total
, LAG(madelantopesos_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_madelantopesos_total
, LAG(madelantodolares_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_madelantodolares_total
, LAG(madelantodolares_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_madelantodolares_total
, LAG(mpagado_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mpagado_total
, LAG(mpagado_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mpagado_total
, LAG(mpagospesos_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mpagospesos_total
, LAG(mpagospesos_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mpagospesos_total
, LAG(mpagosdolares_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mpagosdolares_total
, LAG(mpagosdolares_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mpagosdolares_total
, LAG(mconsumototal_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mconsumototal_total
, LAG(mconsumototal_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mconsumototal_total
, LAG(mpagominimo_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mpagominimo_total
, LAG(mpagominimo_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mpagominimo_total
, LAG(mtarjetas_consumo, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mtarjetas_consumo
, LAG(mtarjetas_consumo, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mtarjetas_consumo
    FROM competencia_03_DQ_agrupacion_var

In [10]:
%%sql
CREATE OR REPLACE TABLE compe_3_lags AS
    SELECT
        numero_de_cliente
        ,foto_mes
        , LAG(mrentabilidad, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mrentabilidad
, LAG(mrentabilidad, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mrentabilidad
, LAG(mrentabilidad_annual, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mrentabilidad_annual
, LAG(mrentabilidad_annual, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mrentabilidad_annual
, LAG(mcomisiones, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcomisiones
, LAG(mcomisiones, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcomisiones
, LAG(mactivos_margen, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mactivos_margen
, LAG(mactivos_margen, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mactivos_margen
, LAG(mpasivos_margen, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mpasivos_margen
, LAG(mpasivos_margen, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mpasivos_margen
, LAG(mcuenta_corriente, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcuenta_corriente
, LAG(mcuenta_corriente, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcuenta_corriente
, LAG(mcaja_ahorro, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcaja_ahorro
, LAG(mcaja_ahorro, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcaja_ahorro
, LAG(mcaja_ahorro_adicional, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcaja_ahorro_adicional
, LAG(mcaja_ahorro_adicional, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcaja_ahorro_adicional
, LAG(mcaja_ahorro_dolares, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcaja_ahorro_dolares
, LAG(mcaja_ahorro_dolares, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcaja_ahorro_dolares
, LAG(mcuentas_saldo, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcuentas_saldo
, LAG(mcuentas_saldo, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcuentas_saldo
, LAG(mautoservicio, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mautoservicio
, LAG(mautoservicio, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mautoservicio
, LAG(mprestamos_prendarios, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mprestamos_prendarios
, LAG(mprestamos_prendarios, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mprestamos_prendarios
, LAG(mprestamos_hipotecarios, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mprestamos_hipotecarios
, LAG(mprestamos_hipotecarios, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mprestamos_hipotecarios
, LAG(mplazo_fijo_dolares, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mplazo_fijo_dolares
, LAG(mplazo_fijo_dolares, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mplazo_fijo_dolares
, LAG(mplazo_fijo_pesos, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mplazo_fijo_pesos
, LAG(mplazo_fijo_pesos, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mplazo_fijo_pesos
, LAG(minversion1_pesos, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_minversion1_pesos
, LAG(minversion1_pesos, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_minversion1_pesos
, LAG(minversion1_dolares, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_minversion1_dolares
, LAG(minversion1_dolares, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_minversion1_dolares
, LAG(minversion2, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_minversion2
, LAG(minversion2, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_minversion2
, LAG(mpayroll, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mpayroll
, LAG(mpayroll, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mpayroll
, LAG(mpayroll2, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mpayroll2
, LAG(mpayroll2, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mpayroll2
, LAG(mcuenta_debitos_automaticos, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcuenta_debitos_automaticos
, LAG(mcuenta_debitos_automaticos, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcuenta_debitos_automaticos
, LAG(mttarjeta_visa_debitos_automaticos, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mttarjeta_visa_debitos_automaticos
, LAG(mttarjeta_visa_debitos_automaticos, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mttarjeta_visa_debitos_automaticos
, LAG(mttarjeta_master_debitos_automaticos, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mttarjeta_master_debitos_automaticos
, LAG(mttarjeta_master_debitos_automaticos, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mttarjeta_master_debitos_automaticos
, LAG(mpagomiscuentas, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mpagomiscuentas
, LAG(mpagomiscuentas, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mpagomiscuentas
, LAG(mcajeros_propios_descuentos, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcajeros_propios_descuentos
, LAG(mcajeros_propios_descuentos, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcajeros_propios_descuentos
, LAG(mtarjeta_visa_descuentos, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mtarjeta_visa_descuentos
, LAG(mtarjeta_visa_descuentos, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mtarjeta_visa_descuentos
, LAG(mtarjeta_master_descuentos, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mtarjeta_master_descuentos
, LAG(mtarjeta_master_descuentos, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mtarjeta_master_descuentos
, LAG(mcomisiones_mantenimiento, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcomisiones_mantenimiento
, LAG(mcomisiones_mantenimiento, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcomisiones_mantenimiento
, LAG(mcomisiones_otras, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcomisiones_otras
, LAG(mcomisiones_otras, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcomisiones_otras
, LAG(mforex_buy, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mforex_buy
, LAG(mforex_buy, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mforex_buy
, LAG(mtransferencias_recibidas, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mtransferencias_recibidas
, LAG(mtransferencias_recibidas, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mtransferencias_recibidas
, LAG(mtransferencias_emitidas, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mtransferencias_emitidas
, LAG(mtransferencias_emitidas, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mtransferencias_emitidas
, LAG(mextraccion_autoservicio, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mextraccion_autoservicio
, LAG(mextraccion_autoservicio, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mextraccion_autoservicio
, LAG(mcheques_depositados, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcheques_depositados
, LAG(mcheques_depositados, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcheques_depositados
, LAG(mcheques_emitidos, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcheques_emitidos
, LAG(mcheques_emitidos, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcheques_emitidos
, LAG(mcheques_depositados_rechazados, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcheques_depositados_rechazados
, LAG(mcheques_depositados_rechazados, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcheques_depositados_rechazados
, LAG(mcheques_emitidos_rechazados, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mcheques_emitidos_rechazados
, LAG(mcheques_emitidos_rechazados, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mcheques_emitidos_rechazados
, LAG(matm, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_matm
, LAG(matm, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_matm
, LAG(matm_other, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_matm_other
, LAG(matm_other, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_matm_other
, LAG(mfinanciacion_limite_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mfinanciacion_limite_total
, LAG(mfinanciacion_limite_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mfinanciacion_limite_total
, LAG(msaldototal_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_msaldototal_total
, LAG(msaldototal_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_msaldototal_total
, LAG(msaldopesos_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_msaldopesos_total
, LAG(msaldopesos_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_msaldopesos_total
, LAG(msaldodolares_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_msaldodolares_total
, LAG(msaldodolares_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_msaldodolares_total
, LAG(mconsumospesos_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mconsumospesos_total
, LAG(mconsumospesos_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mconsumospesos_total
, LAG(mconsumosdolares_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mconsumosdolares_total
, LAG(mconsumosdolares_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mconsumosdolares_total
, LAG(mlimitecompra_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mlimitecompra_total
, LAG(mlimitecompra_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mlimitecompra_total
, LAG(madelantopesos_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_madelantopesos_total
, LAG(madelantopesos_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_madelantopesos_total
, LAG(madelantodolares_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_madelantodolares_total
, LAG(madelantodolares_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_madelantodolares_total
, LAG(mpagado_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mpagado_total
, LAG(mpagado_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mpagado_total
, LAG(mpagospesos_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mpagospesos_total
, LAG(mpagospesos_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mpagospesos_total
, LAG(mpagosdolares_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mpagosdolares_total
, LAG(mpagosdolares_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mpagosdolares_total
, LAG(mconsumototal_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mconsumototal_total
, LAG(mconsumototal_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mconsumototal_total
, LAG(mpagominimo_total, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mpagominimo_total
, LAG(mpagominimo_total, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mpagominimo_total
, LAG(mtarjetas_consumo, 1) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag1_mtarjetas_consumo
, LAG(mtarjetas_consumo, 2) OVER (PARTITION BY numero_de_cliente ORDER BY foto_mes) AS lag2_mtarjetas_consumo
FROM competencia_03_DQ_agrupacion_var

Empty DataFrame
Columns: [Success]
Index: []

In [11]:
%%sql
SELECT COUNT(*) AS num_columnas
FROM pragma_table_info('compe_3_lags');

   num_columnas
0           110

In [12]:
%%sql
select * from compe_3_lags
limit 5

,numero_de_cliente,foto_mes,lag1_mrentabilidad,lag2_mrentabilidad,lag1_mrentabilidad_annual,lag2_mrentabilidad_annual,lag1_mcomisiones,lag2_mcomisiones,lag1_mactivos_margen,lag2_mactivos_margen,...,lag1_mpagospesos_total,lag2_mpagospesos_total,lag1_mpagosdolares_total,lag2_mpagosdolares_total,lag1_mconsumototal_total,lag2_mconsumototal_total,lag1_mpagominimo_total,lag2_mpagominimo_total,lag1_mtarjetas_consumo,lag2_mtarjetas_consumo
0,515278724,202002,3450.32,2648.30,44528.65,50536.24,1266.68,1031.70,1.63,0.84,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,515278724,202003,3063.12,3450.32,41190.62,44528.65,1413.74,1266.68,2.79,1.63,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,515278724,202004,1994.89,3063.12,38347.46,41190.62,1239.77,1413.74,0.00,2.79,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,515278724,202005,1268.22,1994.89,34491.50,38347.46,1206.24,1239.77,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,515278724,202006,1350.70,1268.22,29902.51,34491.50,1274.71,1206.24,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
%%sql
SELECT COUNT(*) AS num_columnas
FROM pragma_table_info('compe_3_lags');

   num_columnas
0           110

In [14]:
dataset_output= dataset_path + 'competencia_03_lags.parquet'

In [15]:
%%sql
ROLLBACK;

Empty DataFrame
Columns: [Success]
Index: []

In [ ]:
%%sql
COPY compe_3_lags TO '{{dataset_output}}' (FORMAT PARQUET);