# Drifting y Quality

Un desafío común para los **data scientists** en el mundo real es que, a diferencia de las competencia de **Kaggle**, los datos cambian con el tiempo. Esto significa que los datos que recibiremos en el futuro no necesariamente reflejarán los que usamos para entrenar nuestros modelos. Esta homogeneidad es esencial, ya que los algoritmos aprenden patrones en función de las distribuciones observadas durante el entrenamiento. Si esas distribuciones cambian, la capacidad predictiva del modelo se deteriora.

Podemos identificar dos tipos principales de problemáticas asociadas a estos cambios:

- **Data Quality (DQ)**
- **Data Drift (DF)**

Comencemos con el primero: **Data Quality (DQ)**. Hay mucho que decir sobre este tema, pero mencionaremos brevemente que los datos provienen de procesos creados por seres humanos, quienes son propensos a cometer errores y hacer modificaciones. A lo largo del ciclo de vida de los modelos, es común que se enfrenten a este tipo de situaciones. Por ello, es fundamental implementar controles que garanticen que los datos a los que se aplican los modelos mantienen la misma estructura que los datos usados en el entrenamiento.

A continuación, veremos dos indicadores clave para monitorear la calidad de los datos, aunque no son los únicos a considerar.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import lightgbm as lgb

from os import path
# pd.set_option('display.max_rows', None)

# # Mostrar todas las columnas
# pd.set_option('display.max_columns', None)

c:\Users\Federico\AppData\Local\Programs\Python\Python312\Lib\site-packages\dask\dataframe\__init__.py:42: FutureWarning:
Dask dataframe query planning is disabled because dask-expr is not installed.

You can install it with `pip install dask[dataframe]` or `conda install dask`.
This will raise in a future version.

  warnings.warn(msg, FutureWarning)

In [70]:
base_path = 'C:/Users/Federico/Desktop/Maestria Data mining/DM EyF/'
dataset_path = base_path + 'datasets/'
dataset_file = 'competencia_01.csv'

# agregue sus semillas
semillas = [540079, 250829, 314299, 302111, 801007]

data = pd.read_csv(dataset_path + dataset_file)

In [71]:
df=data.copy()

In [72]:
df=df.sort_values(by=['foto_mes', 'numero_de_cliente'])

## NaN por foto_mes

In [73]:
def calcular_porcentaje_nan_por_mes(dataset):
    # Crear una lista de las variables que quiero analizar los NaN
    variables = dataset.columns.difference(['numero_de_cliente', 'foto_mes', 'clase_ternaria'])

    # Inicializar una lista para almacenar los resultados
    resultados = []

    # Agrupar el dataset por 'foto_mes' y calcular el ratio de NaN para cada columna
    for mes, datos_mes in dataset.groupby('foto_mes'):
        # Calcular el porcentaje de NaN para cada columna en este mes
        porcentaje_nan = datos_mes[variables].isna().mean() * 100
        # Crear un DataFrame temporal para almacenar los resultados
        resultado_mes = pd.DataFrame({
            'foto_mes': mes,
            'campo': porcentaje_nan.index,
            'porcentaje_nan': porcentaje_nan.values
        })
        # Añadir los resultados del mes a la lista
        resultados.append(resultado_mes)

    # Concatenar todos los resultados en un único DataFrame
    tabla_resultados_nan = pd.concat(resultados, ignore_index=True)

    return tabla_resultados_nan

# Llamada a la función
tabla_porcentajes_nan_por_mes = calcular_porcentaje_nan_por_mes(df)

In [75]:
tabla_pivoteada_nan = tabla_porcentajes_nan_por_mes.pivot(index='campo', columns='foto_mes', values='porcentaje_nan')
tabla_pivoteada_nan['total_nan'] = tabla_pivoteada_nan.sum(axis=1)/6

# Ordenar la tabla por la columna 'total_nan' en orden descendente
tabla_ordenada_nan = tabla_pivoteada_nan.sort_values(by='total_nan', ascending=False)
tabla_ordenada_nan.head(20)

foto_mes,202101,202102,202103,202104,202105,202106,total_nan
campo,,,,,,,
Master_Finiciomora,99.631541,99.604663,99.310261,99.372905,99.493388,99.596060,99.501470
Visa_Finiciomora,97.367706,99.394390,99.036564,99.140106,97.336338,99.390451,98.610926
Master_cconsumos,60.885290,60.002705,59.844824,59.780608,59.299733,58.459691,59.712142
Master_cadelantosefectivo,60.885290,60.002705,59.844824,59.780608,59.299733,58.459691,59.712142
Master_mconsumosdolares,60.885290,60.002705,59.844824,59.780608,59.299733,58.459691,59.712142
Master_mconsumospesos,60.885290,60.002705,59.844824,59.780608,59.299733,58.459691,59.712142
Master_madelantopesos,60.885290,60.002705,59.844824,59.780608,59.299733,58.459691,59.712142
Master_madelantodolares,60.885290,60.002705,59.844824,59.780608,59.299733,58.459691,59.712142
Master_mpagosdolares,60.885290,60.002705,59.844824,59.780608,59.299733,58.459691,59.712142
Master_mpagospesos,60.885290,60.002705,59.844824,59.780608,59.299733,58.459691,59.712142
Master_mconsumototal,60.885290,60.002705,59.844824,59.780608,59.299733,58.459691,59.712142
Visa_mconsumosdolares,14.053917,13.745189,13.733085,13.576086,13.449518,13.081952,13.606625
Visa_madelantodolares,14.053917,13.745189,13.733085,13.576086,13.449518,13.081952,13.606625
Visa_madelantopesos,14.053917,13.745189,13.733085,13.576086,13.449518,13.081952,13.606625
Visa_cconsumos,14.053917,13.745189,13.733085,13.576086,13.449518,13.081952,13.606625
Visa_mpagospesos,14.053917,13.745189,13.733085,13.576086,13.449518,13.081952,13.606625
Visa_mconsumospesos,14.053917,13.745189,13.733085,13.576086,13.449518,13.081952,13.606625
Visa_mconsumototal,14.053917,13.745189,13.733085,13.576086,13.449518,13.081952,13.606625
Visa_mpagosdolares,14.053917,13.745189,13.733085,13.576086,13.449518,13.081952,13.606625
Visa_cadelantosefectivo,14.053917,13.745189,13.733085,13.576086,13.449518,13.081952,13.606625

In [76]:
col_eliminar_nan=["Master_Finiciomora","Visa_Finiciomora","Master_cconsumos","Master_cadelantosefectivo","Master_mconsumosdolares","Master_mconsumospesos",
                  "Master_madelantopesos","Master_madelantodolares","Master_mpagosdolares","Master_mpagospesos","Master_mconsumototal","Visa_fultimo_cierre","Master_fultimo_cierre"]

In [77]:
df.drop(columns=col_eliminar_nan, axis=1,inplace=True)

In [78]:
def calcular_porcentaje_ceros_por_mes(dataset):
    # Crear una lista de las variables que quiero analizar los ceros
    variables = dataset.columns.difference(['numero_de_cliente', 'foto_mes', 'clase_ternaria'])

    # Inicializar una lista para almacenar los resultados
    resultados = []

    # Agrupar el dataset por 'foto_mes' y calcular el ratio de ceros para cada columna
    for mes, datos_mes in dataset.groupby('foto_mes'):
        # Calcular el porcentaje de ceros para cada columna en este mes
        porcentaje_ceros = (datos_mes[variables] == 0).mean() * 100
        # Crear un DataFrame temporal para almacenar los resultados
        resultado_mes = pd.DataFrame({
            'foto_mes': mes,
            'campo': porcentaje_ceros.index,
            'porcentaje_ceros': porcentaje_ceros.values
        })
        # Añadir los resultados del mes a la lista
        resultados.append(resultado_mes)

    # Concatenar todos los resultados en un único DataFrame
    tabla_resultados = pd.concat(resultados, ignore_index=True)

    return tabla_resultados

# Llamada a la función
tabla_porcentajes_ceros_por_mes = calcular_porcentaje_ceros_por_mes(df)

In [79]:
tabla_pivoteada = tabla_porcentajes_ceros_por_mes.pivot(index='campo', columns='foto_mes', values='porcentaje_ceros')
tabla_pivoteada['total_zero'] = tabla_pivoteada.sum(axis=1)/6

# Ordenar la tabla por la columna 'total_zero' en orden descendente
tabla_pivoteada_zero = tabla_pivoteada.sort_values(by='total_zero', ascending=False)
tabla_pivoteada_zero.head(40)

foto_mes,202101,202102,202103,202104,202105,202106,total_zero
campo,,,,,,,
mcuenta_corriente_adicional,99.937047,99.937902,99.937074,99.937839,99.939255,99.940561,99.938280
cpayroll2_trx,99.875946,99.889330,99.904084,99.909806,99.907668,99.871419,99.893042
mpayroll2,99.875946,99.889330,99.904084,99.909806,99.907668,99.871419,99.893042
ccheques_emitidos_rechazados,99.777196,99.822313,99.829551,99.834847,99.831737,99.833815,99.821576
mcheques_emitidos_rechazados,99.777196,99.822313,99.829551,99.834847,99.831737,99.833815,99.821576
mcheques_depositados_rechazados,99.781517,99.835225,99.829551,99.803157,99.811691,99.793178,99.809053
ccheques_depositados_rechazados,99.781517,99.835225,99.829551,99.803157,99.811691,99.793178,99.809053
cliente_vip,99.678447,99.728859,99.729358,99.728198,99.727863,99.434727,99.671242
minversion1_dolares,99.620431,99.626797,99.631609,99.636175,99.640390,99.646401,99.633634
cforex_buy,99.682150,99.671680,99.489263,99.592906,99.682304,99.671268,99.631595
mforex_buy,99.682150,99.671680,99.489263,99.592906,99.682304,99.671268,99.631595
mplazo_fijo_pesos,99.638330,99.626797,99.610838,99.608142,99.599691,99.600306,99.614017
mpagodeservicios,99.142730,99.207481,99.162416,99.233348,99.240689,99.101749,99.181402
cpagodeservicios,99.142730,99.207481,99.162416,99.233348,99.240689,99.101749,99.181402
mprestamos_prendarios,99.106933,99.130012,99.139811,99.173015,99.074248,99.084767,99.118131
cprestamos_prendarios,99.103230,99.125709,99.137368,99.066366,99.069389,99.078702,99.096794
mprestamos_hipotecarios,98.910051,98.924044,98.942481,98.942653,98.958833,98.971955,98.941670
cprestamos_hipotecarios,98.910051,98.924044,98.942481,98.942653,98.958833,98.971955,98.941670
ccajas_depositos,96.387000,96.587066,96.049119,98.667195,100.000000,99.465659,97.859340
mcaja_ahorro_adicional,97.716416,97.725121,97.720011,97.743921,97.740899,97.735874,97.730374
ccajas_otras,98.899559,98.970156,98.741485,96.978487,95.895470,96.276596,97.626959
ccheques_emitidos,97.451644,97.580635,97.443260,97.492230,97.510676,97.536937,97.502564
mcheques_emitidos,97.451644,97.580635,97.443260,97.492230,97.510676,97.536937,97.502564
tmobile_app,97.415230,97.554197,96.838440,97.074167,97.160786,97.234285,97.212851
mcajeros_propios_descuentos,94.615062,100.000000,96.513425,97.662259,97.705667,96.624130,97.186757
cseguro_auto,97.226371,97.146564,97.060818,96.974831,96.897760,96.800626,97.017828
minversion2,96.738178,96.767827,96.796896,96.818210,96.861313,96.847328,96.804959
cinversion2,96.735092,96.764753,96.794453,96.813334,96.856454,96.842476,96.801094
minversion1_pesos,96.930740,96.831155,96.820723,96.681699,96.419091,96.096460,96.629978
ccajas_consultas,96.399343,96.655928,96.208571,96.555549,97.015605,96.938912,96.628985
ccajeros_propios_descuentos,93.124560,100.000000,94.530348,97.645195,97.690481,96.612606,96.600532
mcheques_depositados,96.535124,96.794880,96.322815,96.488512,96.540581,96.446420,96.521389
ccheques_depositados,96.535124,96.794880,96.322815,96.488512,96.540581,96.446420,96.521389
mtarjeta_master_descuentos,95.120536,100.000000,96.046064,95.735877,96.067378,95.844756,96.469102
cinversion1,96.710405,96.617808,96.609952,96.475715,96.217418,95.901162,96.422077
ctarjeta_master_descuentos,94.599632,100.000000,95.426582,95.324517,95.690760,95.493583,96.089179
internet,97.053559,96.267354,95.934875,95.410445,95.573523,96.273563,96.085553
ccajas_extracciones,94.632343,94.959606,94.594496,95.131330,95.642772,95.616099,95.096108
cforex_sell,92.093244,94.125893,95.777866,96.319703,96.321292,94.737257,94.895876
mforex_sell,92.093244,94.125893,95.777866,96.319703,96.321292,94.737257,94.895876

In [65]:
variables_zero= tabla_pivoteada_zero.head(40).index.tolist()

In [80]:
col_eliminar_zero= ['mcuenta_corriente_adicional',
 'mpayroll2',
 'mcheques_emitidos_rechazados',
 'mcheques_depositados_rechazados',
 'minversion1_dolares',
 'mforex_buy',
 'mplazo_fijo_pesos',
 'mpagodeservicios',
 'mprestamos_prendarios',
 'mprestamos_hipotecarios',
 'mcaja_ahorro_adicional',
 'mcheques_emitidos',
 'mcajeros_propios_descuentos',
 'minversion2',
 'minversion1_pesos',
 'mcheques_depositados',
 'mtarjeta_master_descuentos',
 'mforex_sell']

In [81]:
df.drop(columns=col_eliminar_zero, axis=1,inplace=True)

In [82]:
df.shape

(981946, 124)

In [83]:
ruta_datasets = "../../../datasets/"
nombre_exp="competencia_01_DQ.csv"
df.to_csv(ruta_datasets+nombre_exp, index=False)