# Feature Engineering en SQL

A continuación, veremos cómo calcular diferentes variables para el feature engineering utilizando SQL.

In [41]:
%pip install duckdb
%pip install jupysql
%pip install duckdb-engine

Requirement already satisfied: duckdb in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (1.0.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: jupysql in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (0.10.12)
Requirement already satisfied: prettytable in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from jupysql) (3.11.0)
Requirement already satisfied: sqlalchemy in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from jupysql) (2.0.32)
Requirement already satisfied: sqlparse in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from jupysql) (0.5.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from jupysql) (3.1.4)
Requirement already satisfied: sqlglot>=11.3.7 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from jupysql) (25.16.1)
Requirement already satisfied: jupysql-plugin>=0.4.2 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from jupysql) (0.4.4)
Requirement already satisfied: ploomber-core>=0.2.7 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from jupysql) (0.2.25)
Requirement already satisfied: ploomber-extension in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from jupysql) (0.1.1)
Requirement already satisfied: pyyaml in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (6.0.2)
Requirement already satisfied: posthog in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (3.5.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from jinja2->jupysql) (2.1.5)
Requirement already satisfied: wcwidth in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from prettytable->jupysql) (0.2.13)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy->jupysql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy->jupysql) (3.0.3)
Requirement already satisfied: requests<3.0,>=2.7 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.32.3)
Requirement already satisfied: six>=1.5 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Requirement already satisfied: monotonic>=1.5 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.6)
Requirement already satisfied: backoff>=1.10.0 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: python-dateutil>2.1 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.9.0.post0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2024.7.4)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: duckdb-engine in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (0.13.1)
Requirement already satisfied: duckdb>=0.5.0 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from duckdb-engine) (1.0.0)
Requirement already satisfied: packaging>=21 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from duckdb-engine) (24.1)
Requirement already satisfied: sqlalchemy>=1.3.22 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from duckdb-engine) (2.0.32)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=1.3.22->duckdb-engine) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=1.3.22->duckdb-engine) (3.0.3)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import duckdb
import pandas as pd

%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb:///../../../db/dm_eyf.db

There's a new jupysql version available (0.10.14), you're running 0.10.12. To upgrade: pip install jupysql --upgrade
Deploy Shiny apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

In [3]:
dataset_path = 'C:/Users/Federico/Desktop/Maestria Data mining/DM EyF/datasets/'
dataset_file = 'competencia_01_DQ.csv'

In [24]:
%%sql
create or replace table competencia_01_DQ as
select
    *
from read_csv_auto("../../../datasets/competencia_01_DQ.csv")

Empty DataFrame
Columns: [Success]
Index: []

In [5]:
df=pd.read_csv(dataset_path + dataset_file)

C:\Users\Federico\AppData\Local\Temp\ipykernel_15832\2994589474.py:1: DtypeWarning: Columns (123) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(dataset_path + dataset_file)

In [6]:
campos=df.columns.to_list()
print(campos[-1])
campos.pop(-1) #elimino clase ternaria
print(campos[-1])

clase_ternaria
Visa_mpagominimo

In [10]:
campos

['numero_de_cliente',
 'foto_mes',
 'active_quarter',
 'cliente_vip',
 'internet',
 'cliente_edad',
 'cliente_antiguedad',
 'mrentabilidad',
 'mrentabilidad_annual',
 'mcomisiones',
 'mactivos_margen',
 'mpasivos_margen',
 'cproductos',
 'tcuentas',
 'ccuenta_corriente',
 'mcuenta_corriente',
 'ccaja_ahorro',
 'mcaja_ahorro',
 'mcaja_ahorro_dolares',
 'cdescubierto_preacordado',
 'mcuentas_saldo',
 'ctarjeta_debito',
 'ctarjeta_debito_transacciones',
 'mautoservicio',
 'ctarjeta_visa',
 'ctarjeta_visa_transacciones',
 'mtarjeta_visa_consumo',
 'ctarjeta_master',
 'ctarjeta_master_transacciones',
 'mtarjeta_master_consumo',
 'cprestamos_personales',
 'mprestamos_personales',
 'cprestamos_prendarios',
 'cprestamos_hipotecarios',
 'cplazo_fijo',
 'mplazo_fijo_dolares',
 'cinversion1',
 'cinversion2',
 'cseguro_vida',
 'cseguro_auto',
 'cseguro_vivienda',
 'cseguro_accidentes_personales',
 'ccaja_seguridad',
 'cpayroll_trx',
 'mpayroll',
 'cpayroll2_trx',
 'ccuenta_debitos_automaticos',
 'mcuenta_debitos_automaticos',
 'ctarjeta_visa_debitos_automaticos',
 'mttarjeta_visa_debitos_automaticos',
 'ctarjeta_master_debitos_automaticos',
 'mttarjeta_master_debitos_automaticos',
 'cpagodeservicios',
 'cpagomiscuentas',
 'mpagomiscuentas',
 'ccajeros_propios_descuentos',
 'ctarjeta_visa_descuentos',
 'mtarjeta_visa_descuentos',
 'ctarjeta_master_descuentos',
 'ccomisiones_mantenimiento',
 'mcomisiones_mantenimiento',
 'ccomisiones_otras',
 'mcomisiones_otras',
 'cforex',
 'cforex_buy',
 'cforex_sell',
 'ctransferencias_recibidas',
 'mtransferencias_recibidas',
 'ctransferencias_emitidas',
 'mtransferencias_emitidas',
 'cextraccion_autoservicio',
 'mextraccion_autoservicio',
 'ccheques_depositados',
 'ccheques_emitidos',
 'ccheques_depositados_rechazados',
 'ccheques_emitidos_rechazados',
 'tcallcenter',
 'ccallcenter_transacciones',
 'thomebanking',
 'chomebanking_transacciones',
 'ccajas_transacciones',
 'ccajas_consultas',
 'ccajas_depositos',
 'ccajas_extracciones',
 'ccajas_otras',
 'catm_trx',
 'matm',
 'catm_trx_other',
 'matm_other',
 'ctrx_quarter',
 'tmobile_app',
 'cmobile_app_trx',
 'Master_delinquency',
 'Master_status',
 'Master_mfinanciacion_limite',
 'Master_Fvencimiento',
 'Master_msaldototal',
 'Master_msaldopesos',
 'Master_msaldodolares',
 'Master_mlimitecompra',
 'Master_mpagado',
 'Master_fechaalta',
 'Master_mpagominimo',
 'Visa_delinquency',
 'Visa_status',
 'Visa_mfinanciacion_limite',
 'Visa_Fvencimiento',
 'Visa_msaldototal',
 'Visa_msaldopesos',
 'Visa_msaldodolares',
 'Visa_mconsumospesos',
 'Visa_mconsumosdolares',
 'Visa_mlimitecompra',
 'Visa_madelantopesos',
 'Visa_madelantodolares',
 'Visa_mpagado',
 'Visa_mpagospesos',
 'Visa_mpagosdolares',
 'Visa_fechaalta',
 'Visa_mconsumototal',
 'Visa_cconsumos',
 'Visa_cadelantosefectivo',
 'Visa_mpagominimo']

Ahora creo una tabla con las nuevas columnas, tengo que hacer la macro por que estoy dividiendo por 0..

In [7]:
%%sql
CREATE OR REPLACE MACRO suma_sin_null(a, b) AS ifnull(a, 0) + ifnull(b, 0)

Empty DataFrame
Columns: [Success]
Index: []

In [8]:
%%sql
CREATE OR REPLACE MACRO div_sin_cero(a, b) as
    case
        when ifnull(b, 0) = 0 THEN NULL
        else ifnull(a, 0) / ifnull(b, 1)
    end

Empty DataFrame
Columns: [Success]
Index: []

In [11]:
# # Separar las columnas por tipo
# master = [col for col in campos if 'Master' in col]
# visa = [col for col in campos if 'Visa' in col]

# sumas = []

# for m_col, v_col in zip(master, visa):
#     # Crear la suma usando la función 'suma_sin_null'
#     suma = f"\n    suma_sin_null({m_col}, {v_col}) as {m_col.replace('Master_', '')}_total"
#     sumas.append(suma)

# consulta_sql = f"""
# select 
#     numero_de_cliente,
#     {', '.join(sumas)}
# from competencia_01;
# """

# print(consulta_sql)

In [60]:
# %%sql
# create or replace table competencia_01_suma_division as
# select
#     numero_de_cliente,
#     foto_mes,
#     suma_sin_null(Master_delinquency, Visa_delinquency) as delinquency_total,
#     suma_sin_null(Master_status, Visa_status) as status_total,
#     suma_sin_null(Master_mfinanciacion_limite, Visa_mfinanciacion_limite) as mfinanciacion_limite_total,
#     suma_sin_null(Master_msaldototal, Visa_msaldototal) as msaldototal_total,
#     suma_sin_null(Master_msaldopesos, Visa_msaldopesos) as msaldopesos_total,
#     suma_sin_null(Master_msaldodolares, Visa_msaldodolares) as msaldodolares_total,
#     suma_sin_null(Master_mconsumospesos, Visa_mconsumospesos) as mconsumospesos_total,
#     suma_sin_null(Master_mconsumosdolares, Visa_mconsumosdolares) as mconsumosdolares_total,
#     suma_sin_null(Master_mlimitecompra, Visa_mlimitecompra) as mlimitecompra_total,
#     suma_sin_null(Master_madelantopesos, Visa_madelantopesos) as madelantopesos_total,
#     suma_sin_null(Master_madelantodolares, Visa_madelantodolares) as madelantodolares_total,
#     suma_sin_null(Master_mpagado, Visa_mpagado) as mpagado_total,
#     suma_sin_null(Master_mpagospesos, Visa_mpagospesos) as mpagospesos_total,
#     suma_sin_null(Master_mpagosdolares, Visa_mpagosdolares) as mpagosdolares_total,
#     suma_sin_null(Master_mconsumototal, Visa_mconsumototal) as mconsumototal_total,
#     suma_sin_null(Master_cconsumos, Visa_cconsumos) as cconsumos_total,
#     suma_sin_null(Master_cadelantosefectivo, Visa_cadelantosefectivo) as cadelantosefectivo_total,
#     suma_sin_null(Master_mpagominimo, Visa_mpagominimo) as mpagominimo_total,

#     suma_sin_null(ctarjeta_visa, ctarjeta_master) as cant_tarjetas,
#     suma_sin_null(ctarjeta_visa_transacciones, ctarjeta_master_transacciones) as cant_transac_tarjetas,
#     suma_sin_null(mtarjeta_visa_consumo, mtarjeta_master_consumo) as mtarjetas_consumo,
#     suma_sin_null(cprestamos_personales,cprestamos_prendarios) as c_prestamos,
#     suma_sin_null(mpayroll, mpayroll2) as m_payroll_total, -- monto acreditacion
#     suma_sin_null(cpayroll_trx, cpayroll2_trx) as m_cpayroll_total, -- cantidad de acreditaciones
#     suma_sin_null(minversion1_dolares, minversion1_pesos) as minversion1_total,
#     suma_sin_null(mplazo_fijo_dolares, mplazo_fijo_pesos) as mplazofijo_total,
#     suma_sin_null(suma_sin_null(cseguro_vida, cseguro_auto), suma_sin_null(cseguro_vivienda, cseguro_accidentes_personales)) as cseguros_total,

#     div_sin_cero(mconsumototal_total, mlimitecompra_total) as ratio_uso_credito,
#     div_sin_cero(mpagado_total, mconsumototal_total) as ratio_pago_vs_consumo,
#     div_sin_cero(mpagominimo_total, mpagado_total) as ratio_pago_min_vs_total,
#     div_sin_cero(mconsumospesos_total, mconsumosdolares_total) as ratio_consumo_pesos_dolares,
#     div_sin_cero(madelantopesos_total + madelantodolares_total, mlimitecompra_total) as ratio_adelantos_vs_limite,
#     div_sin_cero(cseguros_total, mconsumototal_total) as ratio_seguros_vs_consumo,

#     greatest(Master_Finiciomora,Visa_Finiciomora) as fechamora_mayor,
#     least(Master_Finiciomora,Visa_Finiciomora) as fechamora_menor,
#     greatest(Master_fultimo_cierre,Visa_fultimo_cierre) as fechacierre_mayor,
#     least(Master_fultimo_cierre,Visa_fultimo_cierre) as fechacierre_menor,
#     greatest(Master_Fvencimiento, Visa_Fvencimiento) as fvencimiento_mayor,
#     least(Master_Fvencimiento, Visa_Fvencimiento) as fvencimiento_menor,
#     greatest(Master_fechaalta, Visa_fechaalta) as fechaalta_mayor,
#     least(Master_fechaalta, Visa_fechaalta) as fechalta_menor,

#     ntile(10) over (partition by foto_mes order by cliente_antiguedad) as cliente_antiguedad_cuantile
# from competencia_01
# where foto_mes=202104 or foto_mes=202106

Empty DataFrame
Columns: [Success]
Index: []

In [9]:
# %%sql
# select 
#     *
# from competencia_01_suma_division

,numero_de_cliente,foto_mes,delinquency_total,status_total,mfinanciacion_limite_total,msaldototal_total,msaldopesos_total,msaldodolares_total,mconsumospesos_total,mconsumosdolares_total,...,ratio_seguros_vs_consumo,fechamora_mayor,fechamora_menor,fechacierre_mayor,fechacierre_menor,fvencimiento_mayor,fvencimiento_menor,fechaalta_mayor,fechalta_menor,cliente_antiguedad_6
0,576634596,202106,0,0,1298112.28,158235.84,175216.98,0.00,78367.77,1.80,...,0.000026,NaN,NaN,7.0,7.0,-183.0,-913.0,5313.0,5313.0,8
1,681808990,202106,0,0,88678.80,9119.07,9900.28,796.38,3173.90,8.19,...,0.000630,NaN,NaN,0.0,0.0,-1310.0,-2040.0,4174.0,4174.0,8
2,684878853,202106,0,0,6429567.70,189326.23,222079.66,0.00,163971.42,6.28,...,0.000000,NaN,NaN,0.0,0.0,-548.0,-1279.0,4945.0,4945.0,8
3,686497329,202106,0,0,0.00,0.00,0.00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
4,687007886,202106,0,0,253368.00,7762.61,8604.57,500.96,493.41,3.69,...,0.002027,NaN,NaN,0.0,0.0,-1338.0,-1522.0,1428.0,496.0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981941,783904040,202102,0,0,2621276.70,155583.86,182499.86,0.00,174774.65,0.00,...,0.000000,NaN,NaN,-3.0,-3.0,-639.0,-1401.0,4819.0,1564.0,7
981942,784422111,202102,0,0,0.00,0.00,0.00,0.00,0.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
981943,785117545,202102,0,0,63342.00,4153.82,4153.82,0.00,0.00,0.00,...,NaN,NaN,NaN,4.0,4.0,-364.0,-364.0,2562.0,2562.0,7
981944,785196597,202102,0,0,608083.20,16471.23,19320.75,0.00,6024.85,0.00,...,0.000000,NaN,NaN,-3.0,-3.0,-609.0,-1035.0,4512.0,4100.0,7
981945,784225792,202102,0,0,608083.20,-505.69,-505.63,0.00,10481.57,0.00,...,0.000000,NaN,NaN,-3.0,-3.0,-851.0,-1582.0,1357.0,1357.0,7

In [31]:
campos = ["mpayroll","ctrx_quarter",'mprestamos_personales',"mactivos_margen","mpasivos_margen",'mcuentas_saldo','mcaja_ahorro',"internet","tcallcenter","mpagomiscuentas","ccaja_ahorro","mcomisiones_mantenimiento","ccomisiones_mantenimiento"]

## NTILE

In [32]:
nuevos_ratios = ""
for campo in campos:
    # Añadir las columnas de lag y delta que ya tienes
    nuevos_ratios += f"\n    , ntile(10) over (partition by foto_mes order by {campo}) as {campo}_cuantile"

consulta_sql_Ntile = f"""
CREATE OR REPLACE TABLE competencia_01_NTILE(10) AS
select
    numero_de_cliente,
    foto_mes
    {nuevos_ratios.strip()}
from competencia_01_DQ
where foto_mes =202104 or foto_mes =202106
"""

print(consulta_sql_Ntile)

CREATE OR REPLACE TABLE competencia_01_NTILE(10) AS
select
    numero_de_cliente,
    foto_mes
    , ntile(10) over (partition by foto_mes order by mpayroll) as mpayroll_cuantile
    , ntile(10) over (partition by foto_mes order by ctrx_quarter) as ctrx_quarter_cuantile
    , ntile(10) over (partition by foto_mes order by mprestamos_personales) as mprestamos_personales_cuantile
    , ntile(10) over (partition by foto_mes order by mactivos_margen) as mactivos_margen_cuantile
    , ntile(10) over (partition by foto_mes order by mpasivos_margen) as mpasivos_margen_cuantile
    , ntile(10) over (partition by foto_mes order by mcuentas_saldo) as mcuentas_saldo_cuantile
    , ntile(10) over (partition by foto_mes order by mcaja_ahorro) as mcaja_ahorro_cuantile
    , ntile(10) over (partition by foto_mes order by internet) as internet_cuantile
    , ntile(10) over (partition by foto_mes order by tcallcenter) as tcallcenter_cuantile
    , ntile(10) over (partition by foto_mes order by mpagomiscuentas) as mpagomiscuentas_cuantile
    , ntile(10) over (partition by foto_mes order by ccaja_ahorro) as ccaja_ahorro_cuantile
    , ntile(10) over (partition by foto_mes order by mcomisiones_mantenimiento) as mcomisiones_mantenimiento_cuantile
    , ntile(10) over (partition by foto_mes order by ccomisiones_mantenimiento) as ccomisiones_mantenimiento_cuantile
from competencia_01_DQ
where foto_mes =202104 or foto_mes =202106

In [33]:
nuevos_ratios = ""
for campo in campos:
    # Añadir las columnas de lag y delta que ya tienes
    nuevos_ratios += f"\n    , ntile(20) over (partition by foto_mes order by {campo}) as {campo}_cuantile"

consulta_sql_Ntile = f"""
CREATE OR REPLACE TABLE competencia_01_NTILE(20) AS
select
    numero_de_cliente,
    foto_mes
    {nuevos_ratios.strip()}
from competencia_01_DQ
where foto_mes =202104 or foto_mes =202106
"""

print(consulta_sql_Ntile)

CREATE OR REPLACE TABLE competencia_01_NTILE(20) AS
select
    numero_de_cliente,
    foto_mes
    , ntile(20) over (partition by foto_mes order by mpayroll) as mpayroll_cuantile
    , ntile(20) over (partition by foto_mes order by ctrx_quarter) as ctrx_quarter_cuantile
    , ntile(20) over (partition by foto_mes order by mprestamos_personales) as mprestamos_personales_cuantile
    , ntile(20) over (partition by foto_mes order by mactivos_margen) as mactivos_margen_cuantile
    , ntile(20) over (partition by foto_mes order by mpasivos_margen) as mpasivos_margen_cuantile
    , ntile(20) over (partition by foto_mes order by mcuentas_saldo) as mcuentas_saldo_cuantile
    , ntile(20) over (partition by foto_mes order by mcaja_ahorro) as mcaja_ahorro_cuantile
    , ntile(20) over (partition by foto_mes order by internet) as internet_cuantile
    , ntile(20) over (partition by foto_mes order by tcallcenter) as tcallcenter_cuantile
    , ntile(20) over (partition by foto_mes order by mpagomiscuentas) as mpagomiscuentas_cuantile
    , ntile(20) over (partition by foto_mes order by ccaja_ahorro) as ccaja_ahorro_cuantile
    , ntile(20) over (partition by foto_mes order by mcomisiones_mantenimiento) as mcomisiones_mantenimiento_cuantile
    , ntile(20) over (partition by foto_mes order by ccomisiones_mantenimiento) as ccomisiones_mantenimiento_cuantile
from competencia_01_DQ
where foto_mes =202104 or foto_mes =202106

In [34]:
nuevos_ratios = ""
for campo in campos:
    # Añadir las columnas de lag y delta que ya tienes
    nuevos_ratios += f"\n    , ntile(30) over (partition by foto_mes order by {campo}) as {campo}_cuantile"

consulta_sql_Ntile = f"""
CREATE OR REPLACE TABLE competencia_01_NTILE(30) AS
select
    numero_de_cliente,
    foto_mes
    {nuevos_ratios.strip()}
from competencia_01_DQ
where foto_mes =202104 or foto_mes =202106
"""

print(consulta_sql_Ntile)

CREATE OR REPLACE TABLE competencia_01_NTILE(30) AS
select
    numero_de_cliente,
    foto_mes
    , ntile(30) over (partition by foto_mes order by mpayroll) as mpayroll_cuantile
    , ntile(30) over (partition by foto_mes order by ctrx_quarter) as ctrx_quarter_cuantile
    , ntile(30) over (partition by foto_mes order by mprestamos_personales) as mprestamos_personales_cuantile
    , ntile(30) over (partition by foto_mes order by mactivos_margen) as mactivos_margen_cuantile
    , ntile(30) over (partition by foto_mes order by mpasivos_margen) as mpasivos_margen_cuantile
    , ntile(30) over (partition by foto_mes order by mcuentas_saldo) as mcuentas_saldo_cuantile
    , ntile(30) over (partition by foto_mes order by mcaja_ahorro) as mcaja_ahorro_cuantile
    , ntile(30) over (partition by foto_mes order by internet) as internet_cuantile
    , ntile(30) over (partition by foto_mes order by tcallcenter) as tcallcenter_cuantile
    , ntile(30) over (partition by foto_mes order by mpagomiscuentas) as mpagomiscuentas_cuantile
    , ntile(30) over (partition by foto_mes order by ccaja_ahorro) as ccaja_ahorro_cuantile
    , ntile(30) over (partition by foto_mes order by mcomisiones_mantenimiento) as mcomisiones_mantenimiento_cuantile
    , ntile(30) over (partition by foto_mes order by ccomisiones_mantenimiento) as ccomisiones_mantenimiento_cuantile
from competencia_01_DQ
where foto_mes =202104 or foto_mes =202106

In [35]:
%%sql
CREATE OR REPLACE TABLE competencia_01_NTILE_10 AS
select
    numero_de_cliente,
    foto_mes
    , ntile(10) over (partition by foto_mes order by mpayroll) as mpayroll_cuantile
    , ntile(10) over (partition by foto_mes order by ctrx_quarter) as ctrx_quarter_cuantile
    , ntile(10) over (partition by foto_mes order by mprestamos_personales) as mprestamos_personales_cuantile
    , ntile(10) over (partition by foto_mes order by mactivos_margen) as mactivos_margen_cuantile
    , ntile(10) over (partition by foto_mes order by mpasivos_margen) as mpasivos_margen_cuantile
    , ntile(10) over (partition by foto_mes order by mcuentas_saldo) as mcuentas_saldo_cuantile
    , ntile(10) over (partition by foto_mes order by mcaja_ahorro) as mcaja_ahorro_cuantile
    , ntile(10) over (partition by foto_mes order by mcomisiones_mantenimiento) as mcomisiones_mantenimiento_cuantile
    , ntile(10) over (partition by foto_mes order by internet) as internet_cuantile
    , ntile(10) over (partition by foto_mes order by tcallcenter) as tcallcenter_cuantile
    , ntile(10) over (partition by foto_mes order by mpagomiscuentas) as mpagomiscuentas_cuantile
    , ntile(10) over (partition by foto_mes order by ccaja_ahorro) as ccaja_ahorro_cuantile
    , ntile(10) over (partition by foto_mes order by ccomisiones_mantenimiento) as ccomisiones_mantenimiento_cuantile
from competencia_01_DQ
where foto_mes =202104 or foto_mes =202106

Empty DataFrame
Columns: [Success]
Index: []

In [36]:
%%sql
CREATE OR REPLACE TABLE competencia_01_NTILE_20 AS
select
    numero_de_cliente,
    foto_mes
    , ntile(20) over (partition by foto_mes order by mpayroll) as mpayroll_cuantile
    , ntile(20) over (partition by foto_mes order by ctrx_quarter) as ctrx_quarter_cuantile
    , ntile(20) over (partition by foto_mes order by mprestamos_personales) as mprestamos_personales_cuantile
    , ntile(20) over (partition by foto_mes order by mactivos_margen) as mactivos_margen_cuantile
    , ntile(20) over (partition by foto_mes order by mpasivos_margen) as mpasivos_margen_cuantile
    , ntile(20) over (partition by foto_mes order by mcuentas_saldo) as mcuentas_saldo_cuantile
    , ntile(20) over (partition by foto_mes order by mcaja_ahorro) as mcaja_ahorro_cuantile
    , ntile(20) over (partition by foto_mes order by mcomisiones_mantenimiento) as mcomisiones_mantenimiento_cuantile
    , ntile(20) over (partition by foto_mes order by internet) as internet_cuantile
    , ntile(20) over (partition by foto_mes order by tcallcenter) as tcallcenter_cuantile
    , ntile(20) over (partition by foto_mes order by mpagomiscuentas) as mpagomiscuentas_cuantile
    , ntile(20) over (partition by foto_mes order by ccaja_ahorro) as ccaja_ahorro_cuantile
    , ntile(20) over (partition by foto_mes order by ccomisiones_mantenimiento) as ccomisiones_mantenimiento_cuantile
from competencia_01_DQ
where foto_mes =202104 or foto_mes =202106

Empty DataFrame
Columns: [Success]
Index: []

In [37]:
%%sql
CREATE OR REPLACE TABLE competencia_01_NTILE_30 AS
select
    numero_de_cliente,
    foto_mes
    , ntile(30) over (partition by foto_mes order by mpayroll) as mpayroll_cuantile
    , ntile(30) over (partition by foto_mes order by ctrx_quarter) as ctrx_quarter_cuantile
    , ntile(30) over (partition by foto_mes order by mprestamos_personales) as mprestamos_personales_cuantile
    , ntile(30) over (partition by foto_mes order by mactivos_margen) as mactivos_margen_cuantile
    , ntile(30) over (partition by foto_mes order by mpasivos_margen) as mpasivos_margen_cuantile
    , ntile(30) over (partition by foto_mes order by mcuentas_saldo) as mcuentas_saldo_cuantile
    , ntile(30) over (partition by foto_mes order by mcaja_ahorro) as mcaja_ahorro_cuantile
    , ntile(30) over (partition by foto_mes order by mcomisiones_mantenimiento) as mcomisiones_mantenimiento_cuantile
    , ntile(30) over (partition by foto_mes order by internet) as internet_cuantile
    , ntile(30) over (partition by foto_mes order by tcallcenter) as tcallcenter_cuantile
    , ntile(30) over (partition by foto_mes order by mpagomiscuentas) as mpagomiscuentas_cuantile
    , ntile(30) over (partition by foto_mes order by ccaja_ahorro) as ccaja_ahorro_cuantile
    , ntile(30) over (partition by foto_mes order by ccomisiones_mantenimiento) as ccomisiones_mantenimiento_cuantile
from competencia_01_DQ
where foto_mes =202104 or foto_mes =202106

Empty DataFrame
Columns: [Success]
Index: []

## Lag delta r_diff

In [55]:
# nuevos_ratios = ""
# for campo in campos:
#     # Añadir las columnas de lag y delta que ya tienes
#     nuevos_ratios += f"\n    , lag({campo}, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_{campo}"
#     nuevos_ratios += f"\n    , {campo} - lag_1_{campo} as delta_1_{campo}"
#     nuevos_ratios += f"\n    , lag({campo}, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_{campo}"
#     nuevos_ratios += f"\n    , {campo} - lag_2_{campo} as delta_2_{campo}"

#     # Agregar la lógica del ratio entre los deltas
#     #nuevos_ratios += f"\n    , case when lag_2_{campo} <> 0 then delta_1_{campo} / delta_2_{campo} else null end as ratio_{campo}"
#     nuevos_ratios += f"\n    , div_sin_cero(delta_1_{campo},delta_2_{campo}) as ratio_{campo}"
# consulta_sql_ratios = f"""
# CREATE OR REPLACE TABLE competencia_01_lag_delta_ratios AS
# select
#     numero_de_cliente,
#     foto_mes
#     {nuevos_ratios.strip()}
# from competencia_01;
# """

# print(consulta_sql_ratios)

CREATE OR REPLACE TABLE competencia_01_lag_delta_ratios AS
select
    numero_de_cliente,
    foto_mes
    , lag(ctrx_quarter, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_ctrx_quarter
    , ctrx_quarter - lag_1_ctrx_quarter as delta_1_ctrx_quarter
    , lag(ctrx_quarter, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_ctrx_quarter
    , ctrx_quarter - lag_2_ctrx_quarter as delta_2_ctrx_quarter
    , div_sin_cero(delta_1_ctrx_quarter,delta_2_ctrx_quarter) as ratio_ctrx_quarter
    , lag(cpayroll_trx, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_cpayroll_trx
    , cpayroll_trx - lag_1_cpayroll_trx as delta_1_cpayroll_trx
    , lag(cpayroll_trx, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_cpayroll_trx
    , cpayroll_trx - lag_2_cpayroll_trx as delta_2_cpayroll_trx
    , div_sin_cero(delta_1_cpayroll_trx,delta_2_cpayroll_trx) as ratio_cpayroll_trx
    , lag(mpayroll, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_mpayroll
    , mpayroll - lag_1_mpayroll as delta_1_mpayroll
    , lag(mpayroll, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_mpayroll
    , mpayroll - lag_2_mpayroll as delta_2_mpayroll
    , div_sin_cero(delta_1_mpayroll,delta_2_mpayroll) as ratio_mpayroll
    , lag(mpayroll2, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_mpayroll2
    , mpayroll2 - lag_1_mpayroll2 as delta_1_mpayroll2
    , lag(mpayroll2, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_mpayroll2
    , mpayroll2 - lag_2_mpayroll2 as delta_2_mpayroll2
    , div_sin_cero(delta_1_mpayroll2,delta_2_mpayroll2) as ratio_mpayroll2
    , lag(cpayroll2_trx, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_cpayroll2_trx
    , cpayroll2_trx - lag_1_cpayroll2_trx as delta_1_cpayroll2_trx
    , lag(cpayroll2_trx, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_cpayroll2_trx
    , cpayroll2_trx - lag_2_cpayroll2_trx as delta_2_cpayroll2_trx
    , div_sin_cero(delta_1_cpayroll2_trx,delta_2_cpayroll2_trx) as ratio_cpayroll2_trx
    , lag(mpasivos_margen, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_mpasivos_margen
    , mpasivos_margen - lag_1_mpasivos_margen as delta_1_mpasivos_margen
    , lag(mpasivos_margen, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_mpasivos_margen
    , mpasivos_margen - lag_2_mpasivos_margen as delta_2_mpasivos_margen
    , div_sin_cero(delta_1_mpasivos_margen,delta_2_mpasivos_margen) as ratio_mpasivos_margen
    , lag(mprestamos_personales, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_mprestamos_personales
    , mprestamos_personales - lag_1_mprestamos_personales as delta_1_mprestamos_personales
    , lag(mprestamos_personales, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_mprestamos_personales
    , mprestamos_personales - lag_2_mprestamos_personales as delta_2_mprestamos_personales
    , div_sin_cero(delta_1_mprestamos_personales,delta_2_mprestamos_personales) as ratio_mprestamos_personales
    , lag(mcuentas_saldo, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_mcuentas_saldo
    , mcuentas_saldo - lag_1_mcuentas_saldo as delta_1_mcuentas_saldo
    , lag(mcuentas_saldo, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_mcuentas_saldo
    , mcuentas_saldo - lag_2_mcuentas_saldo as delta_2_mcuentas_saldo
    , div_sin_cero(delta_1_mcuentas_saldo,delta_2_mcuentas_saldo) as ratio_mcuentas_saldo
    , lag(mcaja_ahorro, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_mcaja_ahorro
    , mcaja_ahorro - lag_1_mcaja_ahorro as delta_1_mcaja_ahorro
    , lag(mcaja_ahorro, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_mcaja_ahorro
    , mcaja_ahorro - lag_2_mcaja_ahorro as delta_2_mcaja_ahorro
    , div_sin_cero(delta_1_mcaja_ahorro,delta_2_mcaja_ahorro) as ratio_mcaja_ahorro
    , lag(mcomisiones_mantenimiento, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_mcomisiones_mantenimiento
    , mcomisiones_mantenimiento - lag_1_mcomisiones_mantenimiento as delta_1_mcomisiones_mantenimiento
    , lag(mcomisiones_mantenimiento, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_mcomisiones_mantenimiento
    , mcomisiones_mantenimiento - lag_2_mcomisiones_mantenimiento as delta_2_mcomisiones_mantenimiento
    , div_sin_cero(delta_1_mcomisiones_mantenimiento,delta_2_mcomisiones_mantenimiento) as ratio_mcomisiones_mantenimiento
    , lag(cproductos, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_cproductos
    , cproductos - lag_1_cproductos as delta_1_cproductos
    , lag(cproductos, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_cproductos
    , cproductos - lag_2_cproductos as delta_2_cproductos
    , div_sin_cero(delta_1_cproductos,delta_2_cproductos) as ratio_cproductos
    , lag(cdescubierto_preacordado, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_cdescubierto_preacordado
    , cdescubierto_preacordado - lag_1_cdescubierto_preacordado as delta_1_cdescubierto_preacordado
    , lag(cdescubierto_preacordado, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_cdescubierto_preacordado
    , cdescubierto_preacordado - lag_2_cdescubierto_preacordado as delta_2_cdescubierto_preacordado
    , div_sin_cero(delta_1_cdescubierto_preacordado,delta_2_cdescubierto_preacordado) as ratio_cdescubierto_preacordado
    , lag(mtarjeta_visa_consumo, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_mtarjeta_visa_consumo
    , mtarjeta_visa_consumo - lag_1_mtarjeta_visa_consumo as delta_1_mtarjeta_visa_consumo
    , lag(mtarjeta_visa_consumo, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_mtarjeta_visa_consumo
    , mtarjeta_visa_consumo - lag_2_mtarjeta_visa_consumo as delta_2_mtarjeta_visa_consumo
    , div_sin_cero(delta_1_mtarjeta_visa_consumo,delta_2_mtarjeta_visa_consumo) as ratio_mtarjeta_visa_consumo
    , lag(cprestamos_personales, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_cprestamos_personales
    , cprestamos_personales - lag_1_cprestamos_personales as delta_1_cprestamos_personales
    , lag(cprestamos_personales, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_cprestamos_personales
    , cprestamos_personales - lag_2_cprestamos_personales as delta_2_cprestamos_personales
    , div_sin_cero(delta_1_cprestamos_personales,delta_2_cprestamos_personales) as ratio_cprestamos_personales
    , lag(mcuenta_corriente, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_mcuenta_corriente
    , mcuenta_corriente - lag_1_mcuenta_corriente as delta_1_mcuenta_corriente
    , lag(mcuenta_corriente, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_mcuenta_corriente
    , mcuenta_corriente - lag_2_mcuenta_corriente as delta_2_mcuenta_corriente
    , div_sin_cero(delta_1_mcuenta_corriente,delta_2_mcuenta_corriente) as ratio_mcuenta_corriente
from competencia_01;

In [37]:
# %%sql
# CREATE OR REPLACE TABLE competencia_01_lag_delta_ratios AS
# select
#     numero_de_cliente,
#     foto_mes
#     , lag(ctrx_quarter, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_ctrx_quarter
#     , ctrx_quarter - lag_1_ctrx_quarter as delta_1_ctrx_quarter
#     , lag(ctrx_quarter, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_ctrx_quarter
#     , ctrx_quarter - lag_2_ctrx_quarter as delta_2_ctrx_quarter
#     , div_sin_cero(delta_1_ctrx_quarter,delta_2_ctrx_quarter) as ratio_ctrx_quarter
#     , lag(cpayroll_trx, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_cpayroll_trx
#     , cpayroll_trx - lag_1_cpayroll_trx as delta_1_cpayroll_trx
#     , lag(cpayroll_trx, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_cpayroll_trx
#     , cpayroll_trx - lag_2_cpayroll_trx as delta_2_cpayroll_trx
#     , div_sin_cero(delta_1_cpayroll_trx,delta_2_cpayroll_trx) as ratio_cpayroll_trx
#     , lag(mpayroll, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_mpayroll
#     , mpayroll - lag_1_mpayroll as delta_1_mpayroll
#     , lag(mpayroll, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_mpayroll
#     , mpayroll - lag_2_mpayroll as delta_2_mpayroll
#     , div_sin_cero(delta_1_mpayroll,delta_2_mpayroll) as ratio_mpayroll
#     , lag(mpayroll2, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_mpayroll2
#     , mpayroll2 - lag_1_mpayroll2 as delta_1_mpayroll2
#     , lag(mpayroll2, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_mpayroll2
#     , mpayroll2 - lag_2_mpayroll2 as delta_2_mpayroll2
#     , div_sin_cero(delta_1_mpayroll2,delta_2_mpayroll2) as ratio_mpayroll2
#     , lag(cpayroll2_trx, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_cpayroll2_trx
#     , cpayroll2_trx - lag_1_cpayroll2_trx as delta_1_cpayroll2_trx
#     , lag(cpayroll2_trx, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_cpayroll2_trx
#     , cpayroll2_trx - lag_2_cpayroll2_trx as delta_2_cpayroll2_trx
#     , div_sin_cero(delta_1_cpayroll2_trx,delta_2_cpayroll2_trx) as ratio_cpayroll2_trx
#     , lag(mpasivos_margen, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_mpasivos_margen
#     , mpasivos_margen - lag_1_mpasivos_margen as delta_1_mpasivos_margen
#     , lag(mpasivos_margen, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_mpasivos_margen
#     , mpasivos_margen - lag_2_mpasivos_margen as delta_2_mpasivos_margen
#     , div_sin_cero(delta_1_mpasivos_margen,delta_2_mpasivos_margen) as ratio_mpasivos_margen
#     , lag(mprestamos_personales, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_mprestamos_personales
#     , mprestamos_personales - lag_1_mprestamos_personales as delta_1_mprestamos_personales
#     , lag(mprestamos_personales, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_mprestamos_personales
#     , mprestamos_personales - lag_2_mprestamos_personales as delta_2_mprestamos_personales
#     , div_sin_cero(delta_1_mprestamos_personales,delta_2_mprestamos_personales) as ratio_mprestamos_personales
#     , lag(mcuentas_saldo, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_mcuentas_saldo
#     , mcuentas_saldo - lag_1_mcuentas_saldo as delta_1_mcuentas_saldo
#     , lag(mcuentas_saldo, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_mcuentas_saldo
#     , mcuentas_saldo - lag_2_mcuentas_saldo as delta_2_mcuentas_saldo
#     , div_sin_cero(delta_1_mcuentas_saldo,delta_2_mcuentas_saldo) as ratio_mcuentas_saldo
#     , lag(mcaja_ahorro, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_mcaja_ahorro
#     , mcaja_ahorro - lag_1_mcaja_ahorro as delta_1_mcaja_ahorro
#     , lag(mcaja_ahorro, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_mcaja_ahorro
#     , mcaja_ahorro - lag_2_mcaja_ahorro as delta_2_mcaja_ahorro
#     , div_sin_cero(delta_1_mcaja_ahorro,delta_2_mcaja_ahorro) as ratio_mcaja_ahorro
#     , lag(mcomisiones_mantenimiento, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_mcomisiones_mantenimiento
#     , mcomisiones_mantenimiento - lag_1_mcomisiones_mantenimiento as delta_1_mcomisiones_mantenimiento
#     , lag(mcomisiones_mantenimiento, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_mcomisiones_mantenimiento
#     , mcomisiones_mantenimiento - lag_2_mcomisiones_mantenimiento as delta_2_mcomisiones_mantenimiento
#     , div_sin_cero(delta_1_mcomisiones_mantenimiento,delta_2_mcomisiones_mantenimiento) as ratio_mcomisiones_mantenimiento
#     , lag(cproductos, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_cproductos
#     , cproductos - lag_1_cproductos as delta_1_cproductos
#     , lag(cproductos, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_cproductos
#     , cproductos - lag_2_cproductos as delta_2_cproductos
#     , div_sin_cero(delta_1_cproductos,delta_2_cproductos) as ratio_cproductos
#     , lag(cdescubierto_preacordado, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_cdescubierto_preacordado
#     , cdescubierto_preacordado - lag_1_cdescubierto_preacordado as delta_1_cdescubierto_preacordado
#     , lag(cdescubierto_preacordado, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_cdescubierto_preacordado
#     , cdescubierto_preacordado - lag_2_cdescubierto_preacordado as delta_2_cdescubierto_preacordado
#     , div_sin_cero(delta_1_cdescubierto_preacordado,delta_2_cdescubierto_preacordado) as ratio_cdescubierto_preacordado
#     , lag(mtarjeta_visa_consumo, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_mtarjeta_visa_consumo
#     , mtarjeta_visa_consumo - lag_1_mtarjeta_visa_consumo as delta_1_mtarjeta_visa_consumo
#     , lag(mtarjeta_visa_consumo, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_mtarjeta_visa_consumo
#     , mtarjeta_visa_consumo - lag_2_mtarjeta_visa_consumo as delta_2_mtarjeta_visa_consumo
#     , div_sin_cero(delta_1_mtarjeta_visa_consumo,delta_2_mtarjeta_visa_consumo) as ratio_mtarjeta_visa_consumo
#     , lag(cprestamos_personales, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_cprestamos_personales
#     , cprestamos_personales - lag_1_cprestamos_personales as delta_1_cprestamos_personales
#     , lag(cprestamos_personales, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_cprestamos_personales
#     , cprestamos_personales - lag_2_cprestamos_personales as delta_2_cprestamos_personales
#     , div_sin_cero(delta_1_cprestamos_personales,delta_2_cprestamos_personales) as ratio_cprestamos_personales
#     , lag(mcuenta_corriente, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_mcuenta_corriente
#     , mcuenta_corriente - lag_1_mcuenta_corriente as delta_1_mcuenta_corriente
#     , lag(mcuenta_corriente, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_mcuenta_corriente
#     , mcuenta_corriente - lag_2_mcuenta_corriente as delta_2_mcuenta_corriente
#     , div_sin_cero(delta_1_mcuenta_corriente,delta_2_mcuenta_corriente) as ratio_mcuenta_corriente
# from competencia_01
# where foto_mes =202104 or foto_mes =202106

Empty DataFrame
Columns: [Success]
Index: []

In [36]:
# %%sql
# select *
# from competencia_01_lag_delta_ratios
# where foto_mes =202104 or foto_mes =202106

,numero_de_cliente,foto_mes,lag_1_ctrx_quarter,delta_1_ctrx_quarter,lag_2_ctrx_quarter,delta_2_ctrx_quarter,ratio_ctrx_quarter,lag_1_cpayroll_trx,delta_1_cpayroll_trx,lag_2_cpayroll_trx,...,lag_1_cprestamos_personales,delta_1_cprestamos_personales,lag_2_cprestamos_personales,delta_2_cprestamos_personales,ratio_cprestamos_personales,lag_1_mcuenta_corriente,delta_1_mcuenta_corriente,lag_2_mcuenta_corriente,delta_2_mcuenta_corriente,ratio_mcuenta_corriente
0,249221109,202104,174.0,14.0,161.0,27.0,0.518519,2.0,-1.0,1.0,...,0.0,0.0,0.0,0.0,NaN,-485.88,485.88,0.00,0.00,NaN
1,249278864,202104,110.0,0.0,NaN,NaN,NaN,1.0,0.0,NaN,...,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN
2,249296729,202104,63.0,8.0,55.0,16.0,0.500000,2.0,-1.0,0.0,...,0.0,0.0,0.0,0.0,NaN,2990.46,-2990.46,3196.71,-3196.71,0.935481
3,249470734,202104,116.0,-4.0,112.0,0.0,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,0.00,0.00,0.00,0.00,NaN
4,249590846,202104,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,0.00,0.00,0.00,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328961,1588492803,202104,9.0,39.0,NaN,NaN,NaN,0.0,0.0,NaN,...,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,NaN
328962,1588725801,202104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
328963,1588924016,202104,2.0,8.0,NaN,NaN,NaN,0.0,2.0,NaN,...,0.0,0.0,NaN,NaN,NaN,0.00,-1416.04,NaN,NaN,NaN
328964,1591753879,202104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
328965,1592150678,202104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Ahora voy con el promedio de cada campo, haciendo dev

In [38]:
nuevos_features = ""
for campo in campos:
    # Calcular el promedio móvil de los últimos 3 meses
    nuevos_features += f"\n    , avg({campo}) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_{campo}"
    
    # Calcular la desviación del valor actual con respecto al promedio móvil
    nuevos_features += f"\n    , {campo} - avg_3_{campo} as dev_3_{campo}"

# Construir la consulta SQL
consulta_sql = f"""
CREATE OR REPLACE TABLE competencia_01_DQ_avg AS
select
    numero_de_cliente
    , foto_mes 
    {nuevos_features.strip()}
FROM competencia_01_DQ
where foto_mes =202104 or foto_mes =202106
"""

print(consulta_sql)

CREATE OR REPLACE TABLE competencia_01_DQ_avg AS
select
    numero_de_cliente
    , foto_mes
    , avg(mpayroll) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_mpayroll
    , mpayroll - avg_3_mpayroll as dev_3_mpayroll
    , avg(ctrx_quarter) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_ctrx_quarter
    , ctrx_quarter - avg_3_ctrx_quarter as dev_3_ctrx_quarter
    , avg(mprestamos_personales) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_mprestamos_personales
    , mprestamos_personales - avg_3_mprestamos_personales as dev_3_mprestamos_personales
    , avg(mactivos_margen) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_mactivos_margen
    , mactivos_margen - avg_3_mactivos_margen as dev_3_mactivos_margen
    , avg(mpasivos_margen) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_mpasivos_margen
    , mpasivos_margen - avg_3_mpasivos_margen as dev_3_mpasivos_margen
    , avg(mcuentas_saldo) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_mcuentas_saldo
    , mcuentas_saldo - avg_3_mcuentas_saldo as dev_3_mcuentas_saldo
    , avg(mcaja_ahorro) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_mcaja_ahorro
    , mcaja_ahorro - avg_3_mcaja_ahorro as dev_3_mcaja_ahorro
    , avg(internet) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_internet
    , internet - avg_3_internet as dev_3_internet
    , avg(tcallcenter) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_tcallcenter
    , tcallcenter - avg_3_tcallcenter as dev_3_tcallcenter
    , avg(mpagomiscuentas) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_mpagomiscuentas
    , mpagomiscuentas - avg_3_mpagomiscuentas as dev_3_mpagomiscuentas
    , avg(ccaja_ahorro) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_ccaja_ahorro
    , ccaja_ahorro - avg_3_ccaja_ahorro as dev_3_ccaja_ahorro
    , avg(mcomisiones_mantenimiento) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_mcomisiones_mantenimiento
    , mcomisiones_mantenimiento - avg_3_mcomisiones_mantenimiento as dev_3_mcomisiones_mantenimiento
    , avg(ccomisiones_mantenimiento) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_ccomisiones_mantenimiento
    , ccomisiones_mantenimiento - avg_3_ccomisiones_mantenimiento as dev_3_ccomisiones_mantenimiento
FROM competencia_01_DQ
where foto_mes =202104 or foto_mes =202106

In [39]:
%%sql

CREATE OR REPLACE TABLE competencia_01_DQ_avg AS
select
    numero_de_cliente
    , foto_mes 
    , avg(mpayroll) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_mpayroll
    , mpayroll - avg_3_mpayroll as dev_3_mpayroll
    , avg(ctrx_quarter) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_ctrx_quarter
    , ctrx_quarter - avg_3_ctrx_quarter as dev_3_ctrx_quarter
    , avg(mprestamos_personales) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_mprestamos_personales
    , mprestamos_personales - avg_3_mprestamos_personales as dev_3_mprestamos_personales
    , avg(mactivos_margen) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_mactivos_margen
    , mactivos_margen - avg_3_mactivos_margen as dev_3_mactivos_margen
    , avg(mpasivos_margen) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_mpasivos_margen
    , mpasivos_margen - avg_3_mpasivos_margen as dev_3_mpasivos_margen
    , avg(mcuentas_saldo) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_mcuentas_saldo
    , mcuentas_saldo - avg_3_mcuentas_saldo as dev_3_mcuentas_saldo
    , avg(mcaja_ahorro) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_mcaja_ahorro
    , mcaja_ahorro - avg_3_mcaja_ahorro as dev_3_mcaja_ahorro
    , avg(internet) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_internet
    , internet - avg_3_internet as dev_3_internet
    , avg(tcallcenter) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_tcallcenter
    , tcallcenter - avg_3_tcallcenter as dev_3_tcallcenter
    , avg(mpagomiscuentas) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_mpagomiscuentas
    , mpagomiscuentas - avg_3_mpagomiscuentas as dev_3_mpagomiscuentas
    , avg(ccaja_ahorro) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_ccaja_ahorro
    , ccaja_ahorro - avg_3_ccaja_ahorro as dev_3_ccaja_ahorro
    , avg(mcomisiones_mantenimiento) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_mcomisiones_mantenimiento
    , mcomisiones_mantenimiento - avg_3_mcomisiones_mantenimiento as dev_3_mcomisiones_mantenimiento
    , avg(ccomisiones_mantenimiento) over (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row) as avg_3_ccomisiones_mantenimiento
    , ccomisiones_mantenimiento - avg_3_ccomisiones_mantenimiento as dev_3_ccomisiones_mantenimiento
FROM competencia_01_DQ
where foto_mes =202104 or foto_mes =202106

Empty DataFrame
Columns: [Success]
Index: []

## reg_slope

In [41]:
nuevos_features = ""
for campo in campos:
  nuevos_features +=  f"\n    ,regr_slope({campo}, cliente_antiguedad) over ventana_3 as {campo}_slope_3"


consulta_sql = f"""
CREATE OR REPLACE TABLE competencia_01_regr_slope AS
select
    numero_de_cliente
    , foto_mes 
    {nuevos_features.strip()}
from competencia_01
window ventana_3 as (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row)
"""

print(consulta_sql)

CREATE OR REPLACE TABLE competencia_01_regr_slope AS
select
    numero_de_cliente
    , foto_mes
    ,regr_slope(mpayroll, cliente_antiguedad) over ventana_3 as mpayroll_slope_3
    ,regr_slope(ctrx_quarter, cliente_antiguedad) over ventana_3 as ctrx_quarter_slope_3
    ,regr_slope(mprestamos_personales, cliente_antiguedad) over ventana_3 as mprestamos_personales_slope_3
    ,regr_slope(mactivos_margen, cliente_antiguedad) over ventana_3 as mactivos_margen_slope_3
    ,regr_slope(mpasivos_margen, cliente_antiguedad) over ventana_3 as mpasivos_margen_slope_3
    ,regr_slope(mcuentas_saldo, cliente_antiguedad) over ventana_3 as mcuentas_saldo_slope_3
    ,regr_slope(mcaja_ahorro, cliente_antiguedad) over ventana_3 as mcaja_ahorro_slope_3
    ,regr_slope(internet, cliente_antiguedad) over ventana_3 as internet_slope_3
    ,regr_slope(tcallcenter, cliente_antiguedad) over ventana_3 as tcallcenter_slope_3
    ,regr_slope(mpagomiscuentas, cliente_antiguedad) over ventana_3 as mpagomiscuentas_slope_3
    ,regr_slope(ccaja_ahorro, cliente_antiguedad) over ventana_3 as ccaja_ahorro_slope_3
    ,regr_slope(mcomisiones_mantenimiento, cliente_antiguedad) over ventana_3 as mcomisiones_mantenimiento_slope_3
    ,regr_slope(ccomisiones_mantenimiento, cliente_antiguedad) over ventana_3 as ccomisiones_mantenimiento_slope_3
from competencia_01
window ventana_3 as (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row)

In [44]:
%%sql
CREATE OR REPLACE TABLE competencia_01_DQ_regr_slope AS
select
    numero_de_cliente
    ,foto_mes 
    ,regr_slope(mpayroll, cliente_antiguedad) over ventana_3 as mpayroll_slope_3
    ,regr_slope(ctrx_quarter, cliente_antiguedad) over ventana_3 as ctrx_quarter_slope_3
    ,regr_slope(mprestamos_personales, cliente_antiguedad) over ventana_3 as mprestamos_personales_slope_3
    ,regr_slope(mactivos_margen, cliente_antiguedad) over ventana_3 as mactivos_margen_slope_3
    ,regr_slope(mpasivos_margen, cliente_antiguedad) over ventana_3 as mpasivos_margen_slope_3
    ,regr_slope(mcuentas_saldo, cliente_antiguedad) over ventana_3 as mcuentas_saldo_slope_3
    ,regr_slope(mcaja_ahorro, cliente_antiguedad) over ventana_3 as mcaja_ahorro_slope_3
    ,regr_slope(internet, cliente_antiguedad) over ventana_3 as internet_slope_3
    ,regr_slope(tcallcenter, cliente_antiguedad) over ventana_3 as tcallcenter_slope_3
    ,regr_slope(mpagomiscuentas, cliente_antiguedad) over ventana_3 as mpagomiscuentas_slope_3
    ,regr_slope(ccaja_ahorro, cliente_antiguedad) over ventana_3 as ccaja_ahorro_slope_3
    ,regr_slope(mcomisiones_mantenimiento, cliente_antiguedad) over ventana_3 as mcomisiones_mantenimiento_slope_3
    ,regr_slope(ccomisiones_mantenimiento, cliente_antiguedad) over ventana_3 as ccomisiones_mantenimiento_slope_3
from competencia_01_DQ
window ventana_3 as (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row)

Empty DataFrame
Columns: [Success]
Index: []

In [45]:
%%sql
select 
    *
from competencia_01_DQ_regr_slope

,numero_de_cliente,foto_mes,mpayroll_slope_3,ctrx_quarter_slope_3,mprestamos_personales_slope_3,mactivos_margen_slope_3,mpasivos_margen_slope_3,mcuentas_saldo_slope_3,mcaja_ahorro_slope_3,internet_slope_3,tcallcenter_slope_3,mpagomiscuentas_slope_3,ccaja_ahorro_slope_3,mcomisiones_mantenimiento_slope_3,ccomisiones_mantenimiento_slope_3
0,249223005,202101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,249223005,202102,16316.430,26.0,0.0,958.030,-160.780,10385.810,-5887.650,0.0,0.0,0.0,0.0,0.0,0.0
2,249223005,202103,5164.135,9.5,0.0,315.990,-62.735,-2649.690,-2105.080,0.0,0.5,0.0,0.0,0.0,0.0
3,249223005,202104,8159.975,2.9,0.0,202.097,-86.253,815.881,-106.823,0.0,0.1,0.0,0.0,0.0,0.0
4,249223005,202105,6988.969,-11.8,0.0,-57.591,84.583,-3422.456,8390.396,0.0,-0.1,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981941,1541018080,202104,-443.596,-21.4,0.0,-76.472,-1032.619,22200.516,4729.535,0.0,0.0,0.0,0.0,0.0,0.0
981942,1541018080,202105,658.243,-16.9,0.0,296.678,-501.846,15068.193,4163.844,0.0,0.0,0.0,0.0,0.0,0.0
981943,1541018080,202106,24321.358,4.7,0.0,516.806,400.665,36037.387,28275.512,0.0,0.0,0.0,0.0,0.0,0.0
981944,1542134813,202101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981945,1542134813,202102,0.000,23.0,0.0,163.440,-38.450,9762.730,500.470,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
nuevos_features = ""
for campo in campos:
  nuevos_features +=  f"\n    ,percent_rank() OVER (ORDER BY {campo}) as percent_rank_{campo}"


consulta_sql = f"""
CREATE OR REPLACE TABLE competencia_01_percent_rank AS
select
    numero_de_cliente
    , foto_mes 
    {nuevos_features.strip()}
from competencia_01

"""

print(consulta_sql)

CREATE OR REPLACE TABLE competencia_01_percent_rank AS
select
    numero_de_cliente
    , foto_mes
    ,percent_rank() OVER (ORDER BY mpayroll) as percent_rank_mpayroll
    ,percent_rank() OVER (ORDER BY ctrx_quarter) as percent_rank_ctrx_quarter
    ,percent_rank() OVER (ORDER BY mprestamos_personales) as percent_rank_mprestamos_personales
    ,percent_rank() OVER (ORDER BY mactivos_margen) as percent_rank_mactivos_margen
    ,percent_rank() OVER (ORDER BY mpasivos_margen) as percent_rank_mpasivos_margen
    ,percent_rank() OVER (ORDER BY mcuentas_saldo) as percent_rank_mcuentas_saldo
    ,percent_rank() OVER (ORDER BY mcaja_ahorro) as percent_rank_mcaja_ahorro
    ,percent_rank() OVER (ORDER BY internet) as percent_rank_internet
    ,percent_rank() OVER (ORDER BY tcallcenter) as percent_rank_tcallcenter
    ,percent_rank() OVER (ORDER BY mpagomiscuentas) as percent_rank_mpagomiscuentas
    ,percent_rank() OVER (ORDER BY ccaja_ahorro) as percent_rank_ccaja_ahorro
    ,percent_rank() OVER (ORDER BY mcomisiones_mantenimiento) as percent_rank_mcomisiones_mantenimiento
    ,percent_rank() OVER (ORDER BY ccomisiones_mantenimiento) as percent_rank_ccomisiones_mantenimiento
from competencia_01

In [47]:
%%sql

CREATE OR REPLACE TABLE competencia_01_DQ_percent_rank AS
select
    numero_de_cliente
    , foto_mes 
    ,percent_rank() OVER (ORDER BY mpayroll) as percent_rank_mpayroll
    ,percent_rank() OVER (ORDER BY ctrx_quarter) as percent_rank_ctrx_quarter
    ,percent_rank() OVER (ORDER BY mprestamos_personales) as percent_rank_mprestamos_personales
    ,percent_rank() OVER (ORDER BY mactivos_margen) as percent_rank_mactivos_margen
    ,percent_rank() OVER (ORDER BY mpasivos_margen) as percent_rank_mpasivos_margen
    ,percent_rank() OVER (ORDER BY mcuentas_saldo) as percent_rank_mcuentas_saldo
    ,percent_rank() OVER (ORDER BY mcaja_ahorro) as percent_rank_mcaja_ahorro
    ,percent_rank() OVER (ORDER BY internet) as percent_rank_internet
    ,percent_rank() OVER (ORDER BY tcallcenter) as percent_rank_tcallcenter
    ,percent_rank() OVER (ORDER BY mpagomiscuentas) as percent_rank_mpagomiscuentas
    ,percent_rank() OVER (ORDER BY ccaja_ahorro) as percent_rank_ccaja_ahorro
    ,percent_rank() OVER (ORDER BY mcomisiones_mantenimiento) as percent_rank_mcomisiones_mantenimiento
    ,percent_rank() OVER (ORDER BY ccomisiones_mantenimiento) as percent_rank_ccomisiones_mantenimiento
from competencia_01_DQ
WHERE foto_mes = 202104 OR foto_mes = 202106

Empty DataFrame
Columns: [Success]
Index: []

In [49]:
%%sql 
create or replace table competencia_01_DQ_fe as
SELECT * 
FROM (
    SELECT * 
    FROM competencia_01_DQ
    WHERE foto_mes = 202104 OR foto_mes = 202106
) AS base

LEFT JOIN competencia_01_NTILE_10 as ntile_10
ON base.numero_de_cliente = ntile_10.numero_de_cliente 
    AND base.foto_mes = ntile_10.foto_mes  

LEFT JOIN competencia_01_NTILE_20 as ntile_20
ON ntile_10.numero_de_cliente = ntile_20.numero_de_cliente 
    AND ntile_10.foto_mes = ntile_20.foto_mes  

LEFT JOIN competencia_01_NTILE_30 as ntile_30
ON ntile_20.numero_de_cliente = ntile_30.numero_de_cliente 
    AND ntile_20.foto_mes = ntile_30.foto_mes  

LEFT JOIN competencia_01_DQ_avg as avg 
ON ntile_30.numero_de_cliente = avg.numero_de_cliente 
    AND ntile_30.foto_mes = avg.foto_mes  
    
LEFT JOIN competencia_01_DQ_regr_slope as reg 
ON avg.numero_de_cliente = reg.numero_de_cliente 
    AND avg.foto_mes = reg.foto_mes

LEFT JOIN competencia_01_DQ_percent_rank as p_rank
ON reg.numero_de_cliente = p_rank.numero_de_cliente 
    AND reg.foto_mes = p_rank.foto_mes

Empty DataFrame
Columns: [Success]
Index: []

In [50]:
%%sql
COPY competencia_01_DQ_fe TO '../../../datasets/competencia_01_DQ_fe_2.csv' (FORMAT CSV, HEADER TRUE)

Empty DataFrame
Columns: [Success]
Index: []

In [52]:
%%sql
select 
    *
from competencia_01_DQ_fe
limit 4

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,percent_rank_mactivos_margen,percent_rank_mpasivos_margen,percent_rank_mcuentas_saldo,percent_rank_mcaja_ahorro,percent_rank_internet,percent_rank_tcallcenter,percent_rank_mpagomiscuentas,percent_rank_ccaja_ahorro,percent_rank_mcomisiones_mantenimiento,percent_rank_ccomisiones_mantenimiento
0,345821831,202104,1,0,0,50,259,3164.74,143431.55,359.89,...,0.849902,0.805329,0.607411,0.842248,0.0,0.0,0.0,0.0,0.713486,0.669144
1,345821831,202106,1,0,0,50,261,4650.94,130432.35,2305.66,...,0.817215,0.783053,0.444047,0.813615,0.0,0.0,0.0,0.0,0.856909,0.669144
2,345847792,202104,1,0,0,54,89,3762.77,35013.28,4724.67,...,0.287359,0.562184,0.017680,0.000088,0.0,0.0,0.0,0.0,0.960418,0.669144
3,345847792,202106,1,0,0,54,91,3541.68,40052.31,4201.19,...,0.306093,0.605770,0.017558,0.000088,0.0,0.0,0.0,0.0,0.960418,0.669144