# Feature Engineering en SQL

A continuación, veremos cómo calcular diferentes variables para el feature engineering utilizando SQL.

In [2]:
%pip install duckdb
%pip install jupysql
%pip install duckdb-engine

Requirement already satisfied: duckdb in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (1.0.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: jupysql in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (0.10.12)
Requirement already satisfied: prettytable in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from jupysql) (3.11.0)
Requirement already satisfied: sqlalchemy in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from jupysql) (2.0.32)
Requirement already satisfied: sqlparse in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from jupysql) (0.5.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from jupysql) (3.1.4)
Requirement already satisfied: sqlglot>=11.3.7 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from jupysql) (25.16.1)
Requirement already satisfied: jupysql-plugin>=0.4.2 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from jupysql) (0.4.4)
Requirement already satisfied: ploomber-core>=0.2.7 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from jupysql) (0.2.25)
Requirement already satisfied: ploomber-extension in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from jupysql) (0.1.1)
Requirement already satisfied: pyyaml in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (6.0.2)
Requirement already satisfied: posthog in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (3.5.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from jinja2->jupysql) (2.1.5)
Requirement already satisfied: wcwidth in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from prettytable->jupysql) (0.2.13)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy->jupysql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy->jupysql) (3.0.3)
Requirement already satisfied: requests<3.0,>=2.7 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.32.3)
Requirement already satisfied: six>=1.5 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Requirement already satisfied: monotonic>=1.5 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.6)
Requirement already satisfied: backoff>=1.10.0 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: python-dateutil>2.1 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.9.0.post0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2024.7.4)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: duckdb-engine in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (0.13.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: duckdb>=0.5.0 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from duckdb-engine) (1.0.0)
Requirement already satisfied: packaging>=21 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from duckdb-engine) (24.1)
Requirement already satisfied: sqlalchemy>=1.3.22 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from duckdb-engine) (2.0.32)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=1.3.22->duckdb-engine) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\federico\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=1.3.22->duckdb-engine) (3.0.3)

In [1]:
import duckdb
import pandas as pd

%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb:///:memory:
%reload_ext sql

In [2]:
dataset_path = 'C:/Users/Federico/Desktop/Maestria Data mining/DM EyF/datasets/'
dataset_file = 'competencia_01.csv'

In [3]:
%%sql
create or replace table competencia_01 as
select
    *
from read_csv_auto("{{dataset_path + dataset_file}}")

Empty DataFrame
Columns: [Success]
Index: []

# Información del Cliente
numero_de_cliente: Identificador único para cada cliente.
foto_mes: Mes en el que se tomaron los datos (formato AAAAMM).
**cliente_edad: Edad del cliente.**
**cliente_antiguedad: Antigüedad del cliente en meses.**
cliente_vip: Indicador binario que señala si el cliente es considerado VIP.

# Comportamiento de uso digital
internet: Indicador de si el cliente usa servicios de internet.
minternet: Cantidad de operaciones realizadas a través de la banca por internet.
homebanking: Uso de la banca por internet.

# Actividad del Cliente
active_quarter: Indica si el cliente ha estado activo durante el trimestre.
cproductos: Número de productos que el cliente tiene con el banco.
**cpayroll_trx:Número de transacciones relacionadas con la nómina, como depósitos salariales. Los clientes que reciben su nómina a través del banco podrían ser menos propensos a cambiar de banco.**
**ctrx_quarter:Número de transacciones realizadas por el cliente en el trimestre.  Clientes con más transacciones suelen estar más activos y comprometidos con el banco.**
tcallcenter:Uso de servicios de atención telefónica. Si llama mucho esta pidiendo descuento sino me voy?
# Rentabilidad y Comisiones
mrentabilidad: Rentabilidad mensual generada por el cliente.
mrentabilidad_annual: Rentabilidad anual generada por el cliente.
mcomisiones: Monto total pagado en comisiones.
cdescubierto_preacordado:Descubierto preacordado (línea de crédito para sobregiro), Clientes con acceso a descubiertos pueden depender más del banco y tener menos probabilidad de abandonarlo.
mcomisiones_mantenimiento:el cliente paga por mantener su cuenta o productos
# Tarjetas de Crédito (Visa y MasterCard)
Visa_status:Estado de la tarjeta Visa (activo/inactivo).
Visa_msaldopesos: Saldo en pesos en la tarjeta Visa.
mtarjeta_visa_consumo:Monto total consumido en la tarjeta Visa.
Visa_fultimo_cierre: Última fecha de cierre de la tarjeta Visa.
Visa_mpagado: Monto total pagado en la tarjeta Visa.
Visa_mpagospesos: Monto pagado en pesos en la tarjeta Visa.
Visa_mpagosdolares: Monto pagado en dólares en la tarjeta Visa.
Visa_fechaalta: Fecha de alta de la tarjeta Visa.
Visa_mconsumototal: Monto total consumido con la tarjeta Visa.
Visa_cconsumos: Cantidad de transacciones realizadas con la tarjeta Visa.
Visa_cadelantosefectivo: Cantidad de adelantos en efectivo con la tarjeta Visa.
Visa_mpagominimo: Monto mínimo a pagar de la tarjeta Visa.Los clientes que solo pagan el mínimo en su tarjeta podrían estar en dificultades financieras, lo que podría llevar al abandono o impago.
mtarjeta_visa_debitos_automaticos: Débitos automáticos asociados a la tarjeta Visa.
Visa_msaldototal: Saldo total de la tarjeta Visa.
MasterCard:
Master_msaldototal: Saldo total de la tarjeta MasterCard.
ctarjeta_master_descuentos: Descuentos obtenidos por el uso de la tarjeta MasterCard.
General (Tarjetas):
mpagado: Monto pagado en las tarjetas de crédito.
mpagospesos: Monto pagado en pesos en las tarjetas.
mpagosdolares: Monto pagado en dólares en las tarjetas.
mconsumototal: Monto total consumido en las tarjetas.
cconsumos: Cantidad de transacciones con las tarjetas.
cadelnatosefectivo: Cantidad de adelantos en efectivo con las tarjetas.
mpagominimo: Monto mínimo a pagar en las tarjetas.
# Operaciones en Cajeros Automáticos
mcajeros: Operaciones realizadas en cajeros automáticos (locales e internacionales).
mcajeros_propios_descuentos: Descuentos obtenidos por usar cajeros propios.
mcajeros_extranjero: Retiros de dinero en cajeros en el extranjero.
mcajas_otras_entidades: Retiros en cajas de otras entidades bancarias.
ccajas_total: Total de operaciones en cajeros.
# Transferencias y Cheques
mtransferencias_recibidas: Monto total de transferencias recibidas.
mtransferencias_emitidas: Monto total de transferencias emitidas.
ctransferencias_recibidas: Cantidad de transferencias recibidas.
ctransferencias_emitidas: Cantidad de transferencias emitidas.
mcheques_depositados: Monto total de cheques depositados.
mcheques_emitidos: Monto total de cheques emitidos.
# Deuda
**mpasivos_margen:Clientes que tienen deudas o productos pasivos pueden generar más ingresos para el banco.**
**mprestamos_personales: Monto de préstamos personales.**
**mcomisiones_mantenimiento**
**Visa_mpagominimo: Monto mínimo a pagar de la tarjeta Visa.Los clientes que solo pagan el mínimo en su tarjeta podrían estar en dificultades financieras, lo que podría llevar al abandono o impago.**
cprestamos_personales:Cantidad de préstamos personales.si mas tiene mas dificil de irse
# Capital
mcaja_ahorro: Monto en cuentas de ahorro.
mrentabilidad_annual:Rentabilidad anual generada por el cliente.
mactivos_margen:Margen generado por activos del cliente (depósitos, inversiones)
mcuenta_corriente:Saldo en la cuenta corriente.
# Productos Bancarios
mplazo_fijo_*: Montos relacionados con depósitos a plazo fijo.
mplazo_fijo_descuentos: Descuentos asociados a los plazos fijos.
mpayroll: Indica si el cliente recibe su nómina a través del banco.
mseguros: Monto relacionado con seguros contratados a través del banco.
mplan_sueldo: Montos relacionados con planes de sueldo.
# Saldos Generales
**mcuentas_saldo: Saldo total en las cuentas del cliente.**
# Columna de Clasificación (Objetivo)
clase_ternaria: Etiqueta de clasificación que indica si el cliente continúa activo (CONTINUA) o se dio de baja (BAJA).

Creo tc_saldo_total, saldo total de las tarjeta de credito. Tendria que eliminar Master_msaldototal y Visa_msaldototal???

In [27]:
%%sql
select
    Master_msaldototal
    , Visa_msaldototal
    , ifnull(Master_msaldototal, 0) + ifnull(Visa_msaldototal, 0) as tc_saldo_total
from competencia_01 limit 10

   Master_msaldototal  Visa_msaldototal  tc_saldo_total
0            21771.66          23927.67        45699.33
1            30758.95          27556.51        58315.46
2            53340.77          79062.90       132403.67
3            47357.50          34799.50        82157.00
4            25693.13          17401.97        43095.10
5            20842.76          20246.95        41089.71
6            14990.04          47519.07        62509.11
7            23963.87          50472.90        74436.77
8            29419.89          36521.64        65941.53
9            11128.77            145.73        11274.50

In [26]:
%%sql
select 
    count(*) as personas
from competencia_01
where ifnull(ctarjeta_visa, 0) + ifnull(ctarjeta_master, 0) = 0

   personas
0     42951

Cantidad de tarjeta de cada cliente

In [7]:
%%sql
select
    ctarjeta_visa,
    ctarjeta_master,
    ifnull(ctarjeta_visa, 0) + ifnull(ctarjeta_master, 0) as cant_tarjetas
from competencia_01

        cant_tarjetas
0                   2
1                   2
2                   2
3                   2
4                   2
...               ...
981941              2
981942              2
981943              2
981944              2
981945              2

[981946 rows x 1 columns]

In [5]:
%%sql
select
    ctarjeta_visa,
    ctarjeta_master,
    ifnull(ctarjeta_visa, 0) + ifnull(ctarjeta_master, 0) as cant_tarjetas
from competencia_01
where ifnull(ctarjeta_visa, 0) + ifnull(ctarjeta_master, 0) = 1

       ctarjeta_visa  ctarjeta_master  cant_tarjetas
0                  1                0              1
1                  1                0              1
2                  1                0              1
3                  1                0              1
4                  1                0              1
...              ...              ...            ...
69281              1                0              1
69282              1                0              1
69283              1                0              1
69284              1                0              1
69285              1                0              1

[69286 rows x 3 columns]

In [35]:
%%sql
select 
    count(*) as personas_sin_tarjetas
from competencia_01
where ifnull(ctarjeta_visa, 0) + ifnull(ctarjeta_master, 0) = 0

   personas_sin_tarjetas
0                  42951

Transacciones de una persona por mes con visa y mastercard

In [5]:
%%sql
select
    ctarjeta_visa_transacciones,
    ctarjeta_master_transacciones,
    ifnull(ctarjeta_visa_transacciones, 0) + ifnull(ctarjeta_master_transacciones, 0) as cant_transac_tarjetas
from competencia_01

,ctarjeta_visa_transacciones,ctarjeta_master_transacciones,cant_transac_tarjetas
0,4,12,16
1,5,16,21
2,12,16,28
3,10,20,30
4,6,10,16
...,...,...,...
981941,23,0,23
981942,42,1,43
981943,49,0,49
981944,53,0,53
981945,44,0,44

Consumo con ambas tarjetas

In [6]:
%%sql
select
    mtarjeta_visa_consumo,
    mtarjeta_master_consumo,
    ifnull(mtarjeta_visa_consumo, 0) + ifnull(mtarjeta_master_consumo, 0) as mtarjetas_consumo
from competencia_01

        mtarjeta_visa_consumo  mtarjeta_master_consumo  mtarjetas_consumo
0                    24014.01                 27995.60           52009.61
1                    32323.78                 30990.85           63314.63
2                    86332.64                 43994.78          130327.42
3                    40819.81                 53561.27           94381.08
4                    20412.51                 25490.61           45903.12
...                       ...                      ...                ...
981941               50323.52                     0.00           50323.52
981942               53609.68                  2541.30           56150.98
981943               70819.57                     0.00           70819.57
981944               80792.90                     0.00           80792.90
981945              151380.20                     0.00          151380.20

[981946 rows x 3 columns]

In [8]:
%%sql
select 
    cliente_antiguedad,
    cliente_edad,
    (cliente_antiguedad / 12.0) / ifnull(cliente_edad, 0) as antiguedad_edad
from competencia_01

        cliente_antiguedad  cliente_edad  antiguedad_edad
0                       68            45         0.125926
1                       69            45         0.127778
2                       70            45         0.129630
3                       71            45         0.131481
4                       72            45         0.133333
...                    ...           ...              ...
981941                 168            41         0.341463
981942                 200            35         0.476190
981943                 201            35         0.478571
981944                 202            35         0.480952
981945                 203            36         0.469907

[981946 rows x 3 columns]

Creo una medida para pesar el monton de cada transaccion

In [9]:
%%sql
select
    mautoservicio
    ,ctarjeta_debito_transacciones
    ,ifnull(mautoservicio, 0) / ifnull(ctarjeta_debito_transacciones, 0) as m_transaccion
from competencia_01

        mautoservicio  ctarjeta_debito_transacciones  m_transaccion
0            23569.86                             18    1309.436667
1            11418.85                             13     878.373077
2            15609.92                             11    1419.083636
3            23278.80                             18    1293.266667
4            10333.15                             10    1033.315000
...               ...                            ...            ...
981941       19175.45                             14    1369.675000
981942       17424.37                             17    1024.962941
981943       10249.74                             13     788.441538
981944        6075.43                              8     759.428750
981945       11821.95                             14     844.425000

[981946 rows x 3 columns]

Que clientes son rentables y cuales no?

In [16]:
%%sql
select
    cliente_antiguedad
    ,mrentabilidad
    ,mrentabilidad_annual
from competencia_01

        cliente_antiguedad  mrentabilidad  mrentabilidad_annual
0                       68       -4732.12             -19793.21
1                       69       -4565.57             -21930.03
2                       70       -3993.18             -23437.50
3                       71       -4296.05             -26240.03
4                       72       -8159.42             -33129.26
...                    ...            ...                   ...
981941                 168         630.95              17727.46
981942                 200       -4026.94              -7188.92
981943                 201       -4514.31             -13983.59
981944                 202       -3758.02             -14301.48
981945                 203       -2510.58             -16988.75

[981946 rows x 3 columns]

In [25]:
%%sql
select
    ifnull(cliente_antiguedad, 0) as antiguedad_no_null,
    ifnull(mrentabilidad, 0) as mrentabilidad_no_null,
    ifnull(mrentabilidad_annual, 0) as mrentabilidad_annual_no_null,
    case
        WHEN antiguedad_no_null > 11 THEN 
            CAST(mrentabilidad_no_null > (mrentabilidad_annual_no_null / 12) AS INTEGER)
        ELSE 
            CAST(mrentabilidad_no_null > (mrentabilidad_annual_no_null / antiguedad_no_null) AS INTEGER)
    end as es_rentable
from competencia_01

,antiguedad_no_null,mrentabilidad_no_null,mrentabilidad_annual_no_null,es_rentable
0,68,-4732.12,-19793.21,0
1,69,-4565.57,-21930.03,0
2,70,-3993.18,-23437.50,0
3,71,-4296.05,-26240.03,0
4,72,-8159.42,-33129.26,0
...,...,...,...,...
981941,168,630.95,17727.46,0
981942,200,-4026.94,-7188.92,0
981943,201,-4514.31,-13983.59,0
981944,202,-3758.02,-14301.48,0
981945,203,-2510.58,-16988.75,0

Ahora creo una tabla con las nuevas columnas, tengo que hacer la macro por que estoy dividiendo por 0..

In [34]:
%%sql
create or replace table competencia_01_feature_new as
select
    *,
    ifnull(cliente_antiguedad, 0) as antiguedad_no_null,
    ifnull(mrentabilidad, 0) as mrentabilidad_no_null,
    ifnull(mrentabilidad_annual, 0) as mrentabilidad_annual_no_null,
    case
        when ifnull(cliente_antiguedad, 0) > 11 then 
            cast(ifnull(mrentabilidad, 0) > (ifnull(mrentabilidad_annual, 0) / 12) as integer)
        else 
            cast(ifnull(mrentabilidad, 0) > (ifnull(mrentabilidad_annual, 0) / ifnull(cliente_antiguedad, 0)) as integer)
    end as es_rentable,
    ifnull(ctarjeta_visa, 0) + ifnull(ctarjeta_master, 0) as cant_tarjetas,
    ifnull(master_msaldototal, 0) + ifnull(visa_msaldototal, 0) as tc_saldo_total,
    ifnull(ctarjeta_visa_transacciones, 0) + ifnull(ctarjeta_master_transacciones, 0) as cant_transac_tarjetas,
    ifnull(mtarjeta_visa_consumo, 0) + ifnull(mtarjeta_master_consumo, 0) as mtarjetas_consumo,
    (ifnull(cliente_antiguedad, 0) / 12.0) / ifnull(cliente_edad, 0) as antiguedad_edad,
    ifnull(mautoservicio, 0) / ifnull(ctarjeta_debito_transacciones, 0) as m_transaccion
from competencia_01

Empty DataFrame
Columns: [Success]
Index: []

In [35]:
%%sql
COPY competencia_01_feature_new TO 'competencia_01_feature_new.csv' (FORMAT CSV, HEADER TRUE)

Empty DataFrame
Columns: [Success]
Index: []

In [33]:
%%sql
select
    antiguedad_edad
    ,m_transaccion
from competencia_01_feature_new

        antiguedad_edad  m_transaccion
0              0.125926    1309.436667
1              0.127778     878.373077
2              0.129630    1419.083636
3              0.131481    1293.266667
4              0.133333    1033.315000
...                 ...            ...
981941         0.341463    1369.675000
981942         0.476190    1024.962941
981943         0.478571     788.441538
981944         0.480952     759.428750
981945         0.469907     844.425000

[981946 rows x 2 columns]

In [11]:
%%sql
CREATE OR REPLACE MACRO suma_sin_null(a, b) AS ifnull(a, 0) + ifnull(b, 0)

Empty DataFrame
Columns: [Success]
Index: []

In [ ]:
%%sql
select distinct
    Master_msaldototal
    , Visa_msaldototal
    , suma_sin_null(Master_msaldototal, Visa_msaldototal) as tc_saldo_total
from competencia_01 where Master_msaldototal is null limit 10

   Master_msaldototal  Visa_msaldototal  tc_saldo_total
0                 NaN          52897.58        52897.58
1                 NaN          25788.71        25788.71
2                 NaN            671.66          671.66
3                 NaN             17.04           17.04
4                 NaN           7694.94         7694.94
5                 NaN          12501.48        12501.48
6                 NaN          21443.85        21443.85
7                 NaN          23562.11        23562.11
8                 NaN          24483.42        24483.42
9                 NaN          22239.63        22239.63

TAREA: Escriba una macro para hacer un ratio de dos variables que sea seguro, donde no solo hay campos con null, también esta el problema de la división por cero. Como es costumbre comparta su solución por este canal. Lea https://duckdb.org/docs/sql/functions/numeric.html para referencias de funciones que puede usar.

---

"Claro!" me dirá, mientras lee esto con un mate en la mano, "para cosas fáciles usar SQL alcanza, pero para algo más complicado como crear campos contra el data drifting es difícil".... elija su medicina:

In [ ]:
%%sql
select
    foto_mes
    , numero_de_cliente
    , cliente_antiguedad
    , row_number() over (partition by numero_de_cliente order by foto_mes) as cliente_antiguedad_2
    , percent_rank() over (partition by foto_mes order by cliente_antiguedad) as cliente_antiguedad_3
    , cume_dist() over (partition by foto_mes order by cliente_antiguedad) as cliente_antiguedad_4
    , ntile(4) over (partition by foto_mes order by cliente_antiguedad) as cliente_antiguedad_5
    , ntile(10) over (partition by foto_mes order by cliente_antiguedad) as cliente_antiguedad_6
from competencia_01
order by numero_de_cliente, cliente_antiguedad

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,foto_mes,numero_de_cliente,cliente_antiguedad,cliente_antiguedad_2,cliente_antiguedad_3,cliente_antiguedad_4,cliente_antiguedad_5,cliente_antiguedad_6
0,202101,249221109,300,1,0.947564,0.947947,4,10
1,202102,249221109,301,2,0.947831,0.948213,4,10
2,202103,249221109,302,3,0.948291,0.948670,4,10
3,202104,249221109,303,4,0.948638,0.949016,4,10
4,202105,249221109,304,5,0.948950,0.949327,4,10
...,...,...,...,...,...,...,...,...
981941,202106,1598444941,1,1,0.000000,0.001553,1,1
981942,202106,1598471047,1,1,0.000000,0.001553,1,1
981943,202106,1598515897,1,1,0.000000,0.001553,1,1
981944,202106,1598517059,1,1,0.000000,0.001553,1,1
981945,202106,1598518152,1,1,0.000000,0.001553,1,1

Qué paso? use las hermosas funciones analíticas de SQL. Al campo cliente_antiguedad (que no sufre de data drifting, solo esta para dar el ejemplo) para cada período (partition by foto_mes) la ordeno (order by cliente_antiguedad) y luego calculo las métricas de orden que pueden encontrar acá https://duckdb.org/docs/sql/window_functions.html#general-purpose-window-functions.

Seguiremos usando las funciones analíticas de SQL, esta vez para calcular features que utilizan valores del pasado.

Qué pasa si quiero agregar un feature que muestre el valor del periodo anterior?

In [ ]:
%%sql
select
  numero_de_cliente
  , foto_mes
  , ctrx_quarter
  , lag(ctrx_quarter, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_ctrx_quarter
from competencia_01
limit 10

   numero_de_cliente  foto_mes  ctrx_quarter  lag_1_ctrx_quarter
0          249223005    202101           182                 NaN
1          249223005    202102           208               182.0
2          249223005    202103           201               208.0
3          249223005    202104           194               201.0
4          249223005    202105           171               194.0
5          249223005    202106           172               171.0
6          249237079    202101           141                 NaN
7          249237079    202102           149               141.0
8          249237079    202103           153               149.0
9          249237079    202104           160               153.0

Podemos calcular el delta (diferencia) entre el valor pasado y el presente, para uno o varios meses

In [ ]:
%%sql
select
  numero_de_cliente
  , foto_mes
  , ctrx_quarter
  , lag(ctrx_quarter, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_ctrx_quarter
  , ctrx_quarter - lag_1_ctrx_quarter as delta_1_ctrx_quarter
  , ctrx_quarter - lag(ctrx_quarter, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_ctrx_quarter
from competencia_01
limit 10

,numero_de_cliente,foto_mes,ctrx_quarter,lag_1_ctrx_quarter,delta_1_ctrx_quarter,lag_2_ctrx_quarter
0,249223005,202101,182,NaN,NaN,NaN
1,249223005,202102,208,182.0,26.0,NaN
2,249223005,202103,201,208.0,-7.0,19.0
3,249223005,202104,194,201.0,-7.0,-14.0
4,249223005,202105,171,194.0,-23.0,-30.0
5,249223005,202106,172,171.0,1.0,-22.0
6,249237079,202101,141,NaN,NaN,NaN
7,249237079,202102,149,141.0,8.0,NaN
8,249237079,202103,153,149.0,4.0,12.0
9,249237079,202104,160,153.0,7.0,11.0

Si necesitamos ya no solo traer un valor del pasado, sino una secuencia de valores, por ejemplo para calcular la media móvil con los últimos 3 meses anteriores? se puede hacer fácilmente

In [ ]:
%%sql
select
  numero_de_cliente
  , foto_mes
  , ctrx_quarter
  , lag(ctrx_quarter, 1) over (partition by numero_de_cliente order by foto_mes) as lag_1_ctrx_quarter
  , lag(ctrx_quarter, 2) over (partition by numero_de_cliente order by foto_mes) as lag_2_ctrx_quarter
  , lag(ctrx_quarter, 3) over (partition by numero_de_cliente order by foto_mes) as lag_3_ctrx_quarter
  , avg(ctrx_quarter) over (partition by numero_de_cliente
                            order by foto_mes
                            rows between 3 preceding and current row) as avg_3_ctrx_quarter
from competencia_01
order by numero_de_cliente, foto_mes desc
limit 10

,numero_de_cliente,foto_mes,ctrx_quarter,lag_1_ctrx_quarter,lag_2_ctrx_quarter,lag_3_ctrx_quarter,avg_3_ctrx_quarter
0,249221109,202106,199,199.0,188.0,174.0,190.000000
1,249221109,202105,199,188.0,174.0,161.0,180.500000
2,249221109,202104,188,174.0,161.0,166.0,172.250000
3,249221109,202103,174,161.0,166.0,NaN,167.000000
4,249221109,202102,161,166.0,NaN,NaN,163.500000
5,249221109,202101,166,NaN,NaN,NaN,166.000000
6,249221468,202106,191,182.0,182.0,170.0,181.250000
7,249221468,202105,182,182.0,170.0,154.0,172.000000
8,249221468,202104,182,170.0,154.0,145.0,162.750000
9,249221468,202103,170,154.0,145.0,NaN,156.333333

Si embargo puede resultar incómodo escribir constantemente el over partition sobre todo si se buscan aplicar muchas veces para distintas funciones. Para reducir el código se puede usar la siguiente sintaxis

In [ ]:
%%sql
select
  numero_de_cliente
  , foto_mes
  , ctrx_quarter
  , avg(ctrx_quarter) over ventana_3 as ctrx_quarter_media_3
  , max(ctrx_quarter) over ventana_3 as ctrx_quarter_max_3
  , min(ctrx_quarter) over ventana_3 as ctrx_quarter_min_3
from competencia_01
window ventana_3 as (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row)
limit 10

,numero_de_cliente,foto_mes,ctrx_quarter,ctrx_quarter_media_3,ctrx_quarter_max_3,ctrx_quarter_min_3
0,249223005,202101,182,182.000000,182,182
1,249223005,202102,208,195.000000,208,182
2,249223005,202103,201,197.000000,208,182
3,249223005,202104,194,196.250000,208,182
4,249223005,202105,171,193.500000,208,171
5,249223005,202106,172,184.500000,201,171
6,249237079,202101,141,141.000000,141,141
7,249237079,202102,149,145.000000,149,141
8,249237079,202103,153,147.666667,153,141
9,249237079,202104,160,150.750000,160,141

Para saber más que funciones tenemos disponibles, recomiendo ver los siguientes links:

https://duckdb.org/docs/archive/0.8.1/sql/window_functions
https://duckdb.org/docs/archive/0.8.1/sql/aggregates
Un caso más, que ni me voy a molestar en explicar que significa...

In [ ]:
%%sql
select
  numero_de_cliente
  , foto_mes
  , ctrx_quarter
  ,regr_slope(ctrx_quarter, cliente_antiguedad) over ventana_3 as ctrx_quarter_slope_3
from competencia_01
window ventana_3 as (partition by numero_de_cliente order by foto_mes rows between 3 preceding and current row)
limit 10

... Alguno dirá "tenemos que escribir todo esto a mano? Son muchas variables!". Bueno no, use los conocimientos de programación para que la computadora trabaje para usted. Si tenemos una lista de campos

In [ ]:
campos = ['active_quarter', 'cliente_vip', 'internet', 'cliente_edad', 'cliente_antiguedad', 'mrentabilidad']

Podemos hacer un script muy sencillo que nos genere el texto que hay que poner en una query para generar esas variables

In [ ]:
nuevos_features = ""
for campo in campos:
  nuevos_features += f"\n, regr_slope({campo}, cliente_antiguedad) over ventana_3 as ctrx_{campo}_slope_3"
print(nuevos_features)

, regr_slope(active_quarter, cliente_antiguedad) over ventana_3 as ctrx_active_quarter_slope_3
, regr_slope(cliente_vip, cliente_antiguedad) over ventana_3 as ctrx_cliente_vip_slope_3
, regr_slope(internet, cliente_antiguedad) over ventana_3 as ctrx_internet_slope_3
, regr_slope(cliente_edad, cliente_antiguedad) over ventana_3 as ctrx_cliente_edad_slope_3
, regr_slope(cliente_antiguedad, cliente_antiguedad) over ventana_3 as ctrx_cliente_antiguedad_slope_3
, regr_slope(mrentabilidad, cliente_antiguedad) over ventana_3 as ctrx_mrentabilidad_slope_3




Con la salida de esa celda, arme la query agregando las nuevas líneas y la ejecuta.

Lo que acabamos de hacer de manera muy simple es como "funcionan" sistemas como **dbt** que están tan de moda en el mundo de los datos.

La última reflexión, la creación de nuevas features es un proceso computacionalmente rápido pero intenso. Si ejecutó lo anterior pudo haber visto que en poco minutos tenía sus nuevas variables. Pero, también pudo haberle fallado por temas de recursos. Miles de variables necesitan los recursos adecuados. Use la nube, una máquina grande, al menos que sepa bien como optimizar las queries.

Y a no olvidarse guardar las nueva tabla

In [ ]:
%%sql
COPY competencia_01 TO '{dataset_path}competencia_01_fe.csv' (FORMAT CSV, HEADER TRUE);