In [1]:
%pip install --upgrade duckdb
%pip install --upgrade jupysql
%pip install --upgrade duckdb-engine

Requirement already satisfied: duckdb in /home/fedepicado/.venv/lib/python3.12/site-packages (1.1.2)
Collecting duckdb
  Downloading duckdb-1.1.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (762 bytes)
Downloading duckdb-1.1.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (20.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 20.2/20.2 MB 2.7 MB/s eta 0:00:00a 0:00:01
Installing collected packages: duckdb
  Attempting uninstall: duckdb
    Found existing installation: duckdb 1.1.2
    Uninstalling duckdb-1.1.2:
      Successfully uninstalled duckdb-1.1.2
Successfully installed duckdb-1.1.3
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: jupysql in /home/fedepicado/.venv/lib/python3.12/site-packages (0.10.14)
Collecting jupysql
  Downloading jupysql-0.10.16-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: prettytable>=3.12.0 in /home/fedepicado/.venv/lib/python3.12/site-packages (from jupysql) (3.12.0)
Requirement already satisfied: sqlalchemy in /home/fedepicado/.venv/lib/python3.12/site-packages (from jupysql) (2.0.36)
Requirement already satisfied: sqlparse in /home/fedepicado/.venv/lib/python3.12/site-packages (from jupysql) (0.5.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in /home/fedepicado/.venv/lib/python3.12/site-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /home/fedepicado/.venv/lib/python3.12/site-packages (from jupysql) (3.1.4)
Requirement already satisfied: sqlglot>=11.3.7 in /home/fedepicado/.venv/lib/python3.12/site-packages (from jupysql) (25.28.0)
Requirement already satisfied: jupysql-plugin>=0.4.2 in /home/fedepicado/.venv/lib/python3.12/site-packages (from jupysql) (0.4.5)
Requirement already satisfied: ploomber-core>=0.2.7 in /home/fedepicado/.venv/lib/python3.12/site-packages (from jupysql) (0.2.25)
Requirement already satisfied: pyyaml in /home/fedepicado/.venv/lib/python3.12/site-packages (from ploomber-core>=0.2.7->jupysql) (6.0.2)
Requirement already satisfied: posthog in /home/fedepicado/.venv/lib/python3.12/site-packages (from ploomber-core>=0.2.7->jupysql) (3.7.0)
Requirement already satisfied: wcwidth in /home/fedepicado/.venv/lib/python3.12/site-packages (from prettytable>=3.12.0->jupysql) (0.2.13)
Requirement already satisfied: MarkupSafe>=2.0 in /home/fedepicado/.venv/lib/python3.12/site-packages (from jinja2->jupysql) (3.0.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/fedepicado/.venv/lib/python3.12/site-packages (from sqlalchemy->jupysql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /home/fedepicado/.venv/lib/python3.12/site-packages (from sqlalchemy->jupysql) (3.1.1)
Requirement already satisfied: requests<3.0,>=2.7 in /home/fedepicado/.venv/lib/python3.12/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.32.3)
Requirement already satisfied: six>=1.5 in /home/fedepicado/.venv/lib/python3.12/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Requirement already satisfied: monotonic>=1.5 in /home/fedepicado/.venv/lib/python3.12/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.6)
Requirement already satisfied: backoff>=1.10.0 in /home/fedepicado/.venv/lib/python3.12/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: python-dateutil>2.1 in /home/fedepicado/.venv/lib/python3.12/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.9.0.post0)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/fedepicado/.venv/lib/python3.12/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /home/fedepicado/.venv/lib/python3.12/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/fedepicado/.venv/lib/python3.12/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /home/fedepicado/.venv/lib/python3.12/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2024.8.30)
Downloading jupysql-0.10.16-py3-none-any.whl (95 kB)
Installing collected packages: jupysql
  Attempting uninstall: jupysql
    Found existing installation: jupysql 0.10.14
    Uninstalling jupysql-0.10.14:
      Successfully uninstalled jupysql-0.10.14
Successfully installed jupysql-0.10.16
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: duckdb-engine in /home/fedepicado/.venv/lib/python3.12/site-packages (0.13.4)
Collecting duckdb-engine
  Downloading duckdb_engine-0.13.5-py3-none-any.whl.metadata (8.0 kB)
Requirement already satisfied: duckdb>=0.5.0 in /home/fedepicado/.venv/lib/python3.12/site-packages (from duckdb-engine) (1.1.3)
Requirement already satisfied: packaging>=21 in /home/fedepicado/.venv/lib/python3.12/site-packages (from duckdb-engine) (24.1)
Requirement already satisfied: sqlalchemy>=1.3.22 in /home/fedepicado/.venv/lib/python3.12/site-packages (from duckdb-engine) (2.0.36)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/fedepicado/.venv/lib/python3.12/site-packages (from sqlalchemy>=1.3.22->duckdb-engine) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /home/fedepicado/.venv/lib/python3.12/site-packages (from sqlalchemy>=1.3.22->duckdb-engine) (3.1.1)
Downloading duckdb_engine-0.13.5-py3-none-any.whl (48 kB)
Installing collected packages: duckdb-engine
  Attempting uninstall: duckdb-engine
    Found existing installation: duckdb_engine 0.13.4
    Uninstalling duckdb_engine-0.13.4:
      Successfully uninstalled duckdb_engine-0.13.4
Successfully installed duckdb-engine-0.13.5
Note: you may need to restart the kernel to use updated packages.

In [3]:
import duckdb
import pandas as pd
import os

In [29]:
base_path = '/home/fedepicado/'
modelos_path = base_path + 'buckets/b1/modelos/'
db_path = base_path + 'buckets/b1/db/'
datasets_path = base_path + 'buckets/b1/datasets/'
exp_path = base_path + 'buckets/b1/exp/'
dataset_file = 'competencia_02_crudo.csv'
full_path = datasets_path + dataset_file

# Verifica si el archivo existe
if os.path.exists(full_path):
    print("Archivo encontrado:", full_path)
else:
    print("Archivo no encontrado:", full_path)

Archivo encontrado: /home/fedepicado/buckets/b1/datasets/competencia_02_crudo.csv

In [5]:
conn= duckdb.connect(database=':memory:')

df= pd.read_csv(datasets_path + dataset_file)

In [5]:
a=df[df["foto_mes"]==201901]

In [6]:
a.shape

(124752, 154)

In [6]:
conn.register('competencia_02_crudo', df)

In [7]:
conn.execute("""
create or replace table competencia_02 as
with periodos as (
  select distinct foto_mes from competencia_02_crudo
), clientes as (
  select distinct numero_de_cliente from competencia_02_crudo
), todo as (
  select numero_de_cliente, foto_mes from clientes cross join periodos
), clase_ternaria as (
  select
  c.*
    , if(c.numero_de_cliente is null, 0, 1) as mes_0
  , lead(mes_0, 1) over (partition by t.numero_de_cliente order by foto_mes) as mes_1
  , lead(mes_0, 2) over (partition by t.numero_de_cliente order by foto_mes) as mes_2
  , case 
      when mes_2 = 1 then 'CONTINUA'
      when mes_1 = 1 and mes_2 = 0 then 'BAJA+2'
      when mes_1 = 0 and mes_2 = 0 then 'BAJA+1'
      when mes_1 = 0 and mes_2 = 1 then 'CONTINUA'
      else null
    end as clase_ternaria
  from todo t
  left join competencia_02_crudo c using (numero_de_cliente, foto_mes)
) 
select
* EXCLUDE (mes_0, mes_1, mes_2)
from clase_ternaria
where mes_0 = 1
""")

In [10]:
resultado = conn.execute("SELECT foto_mes, clase_ternaria FROM competencia_02").df()

In [16]:
conteo_clase_ternaria = resultado.groupby(['foto_mes', 'clase_ternaria']).size().reset_index(name='cantidad')
conteo_clase_ternaria.head(60)

    foto_mes clase_ternaria  cantidad
0     201901         BAJA+1         9
1     201901         BAJA+2         3
2     201901       CONTINUA      1678
3     201902         BAJA+1       720
4     201902         BAJA+2       688
5     201902       CONTINUA    124391
6     201903         BAJA+1       688
7     201903         BAJA+2       760
8     201903       CONTINUA    124988
9     201904         BAJA+1       759
10    201904         BAJA+2       579
11    201904       CONTINUA    125658
12    201905         BAJA+1       580
13    201905         BAJA+2       660
14    201905       CONTINUA    126419
15    201906         BAJA+1       662
16    201906         BAJA+2       608
17    201906       CONTINUA    127916
18    201907         BAJA+1       609
19    201907         BAJA+2       689
20    201907       CONTINUA    129426
21    201908         BAJA+1       683
22    201908         BAJA+2       552
23    201908       CONTINUA    131429
24    201909         BAJA+1       553
25    201909         BAJA+2       576
26    201909       CONTINUA    133185
27    201910         BAJA+1       583
28    201910         BAJA+2       624
29    201910       CONTINUA    135475
30    201911         BAJA+1       623
31    201911         BAJA+2       735
32    201911       CONTINUA    137309
33    201912         BAJA+1       734
34    201912         BAJA+2       598
35    201912       CONTINUA    139329
36    202001         BAJA+1       605
37    202001         BAJA+2       502
38    202001       CONTINUA    142859
39    202002         BAJA+1       508
40    202002         BAJA+2       185
41    202002       CONTINUA    146416
42    202003         BAJA+1       186
43    202003         BAJA+2       378
44    202003       CONTINUA    148792
45    202004         BAJA+1       377
46    202004         BAJA+2       533
47    202004       CONTINUA    148962
48    202005         BAJA+1       536
49    202005         BAJA+2       629
50    202005       CONTINUA    150096
51    202006         BAJA+1       632
52    202006         BAJA+2       624
53    202006       CONTINUA    152501
54    202007         BAJA+1       627
55    202007         BAJA+2       542
56    202007       CONTINUA    154595
57    202008         BAJA+1       544
58    202008         BAJA+2       472
59    202008       CONTINUA    156042

In [30]:
file_path = f"{datasets_path}/competencia_02.parquet" #### aca esta el tema

In [31]:
conn.execute(f"COPY competencia_02 TO '{file_path}' (FORMAT 'parquet')")